<link rel="stylesheet" href="{{asset('css/multiacademico.css')}}">
<link rel="stylesheet" href="{{asset('css/certificados.css')}}">
<link rel="stylesheet" href="{{asset('css/imprimir.css')}}">
<style>
    .dataTable thead tr th:first-child {
        min-width: 20px;
    }
</style>    
<style media="print" type="text/css">
@page rotated { size : landscape!important }
table { page : rotated!important }
</style>
<page>
  <div class="paginah">
     {{include('MultiacademicoBundle:Reportes:encabezado.html.twig')}}
       
     <div class="info-aula">
              {%verbatim%}
              <div class="curso"><b>{{aula.curso.curso}} {{aula.especializacion.especializacion}}</b></div>
             
              <div class="curso"><b>Paralelo: "{{aula.paralelo}}"</b></div>
             
              <div class="curso"><b>Jornada {{(aula.seccion|limitTo:(aula.seccion.length-1))+'a'}}</b></div>
             {%endverbatim%}
              <div class="curso"><b>AÑO LECTIVO {{periodo.periodo}}</b></div>
      </div>
       <div id="imprimir" class="form-group">
           
                            {#{%verbatim%}
                                <div class="ckbox ckbox-primary" data-ng-repeat="distributivo in aula.distributivos" style="display:none;">
                                
                                <input id="M{{distributivo.distributivocodmateria.id}}" type="checkbox" data-ng-model="Materias[distributivo.distributivocodmateria.id]"  ng-init="Materias[distributivo.distributivocodmateria.id]=true" title="{{distributivo.distributivocodmateria.materia}}"  />
                                <label for="M{{distributivo.distributivocodmateria.id}}">{{distributivo.distributivocodmateria.materia}}</label>
                                </div>
                                
                                 
                             {%endverbatim%}#}
           
            <b>Quimestre Activo: {{'{{q}}'}} </b>
       <select data-ng-model="q" data-ng-init="q=qop[q-1].id" data-ng-options="q.id as q.label for q in qop" data-ng-change="changeq()" >
       </select> 


            <b>Parcial Activo:{{'{{p}}'}} </b>
                <select data-ng-model="p" data-ng-init="p=pop[p-1].id" data-ng-options="p.id as p.label for p in pop" data-ng-change="changeq()" >
                </select>
                <select data-ng-init="tam='1'" data-ng-model="tam">
                    <option value="1" >normal</option>
                    <option value="0">reducido</option>
                </select>
           <button class="btn btn-warning" onclick="window.print();"><i class="fa fa-print"></i>Imprimir</button>
       </div>
          <div class="detalle">
         <p class="textodetalle">

         </p>
     </div>
      <table id="malla-normal" class="letraprint1" border="1" width="100%" cellpadding="1" cellspacing="0" bgcolor="FFFFFF" style="text-align:center">
          <thead>
             <tr> 
                 <th>&nbsp;</th>    
          <th>&nbsp;</th>
          {#<th rowspan="2" style="height: 140px;vertical-align:bottom;"><div class="solo-rotar" style="width: 30px;">COMPORTAMIENTO</div></th>#}
                             {%verbatim%}
                                <th colspan="{{encabezado.materiacolspan()}}" data-ng-repeat="distributivo in aula.distributivos">
                                 {{distributivo.distributivocodmateria.materia}} </th> 
                             {%endverbatim%}
             <th class="finales" ng-if="p<=3&&q<3&&aula.recibeProyectoEscolar()" rowspan="2" style="vertical-align:bottom;"><div class="solo-rotar" style="width: 30px;">PROYECTO ESCOLAR</div></th>   
             <th class="finales" ng-if="p<=3&&q<3" rowspan="2" style="vertical-align:bottom;"><div class="solo-rotar" style="width: 30px;">COMPORTAMIENTO</div></th>
             <th class="finales" ng-if="p<=3&&q<3" rowspan="2" style="vertical-align:bottom;"><div class="solo-rotar" style="width: 30px;">PROMEDIO PARCIAL</div></th>
             
             <th class="finales" ng-if="p==4&&q<3" rowspan="2" style="vertical-align:bottom;"><div class="solo-rotar" style="width: 30px;">PROMEDIO QUIMESTRE</div></th>
             
             <th class="finales" ng-if="q==3" rowspan="2" style="vertical-align:bottom;"><div class="solo-rotar" style="width: 30px;">SUMA</div></th>
             <th class="finales" ng-if="q==3" rowspan="2" style="vertical-align:bottom;"><div class="solo-rotar" style="width: 30px;">PROMEDIO</div></th>
             <!--
            <th rowspan="2" style="background-color: orange;vertical-align:bottom;">CLUBES: CAMPO&nbsp;DE&nbsp;ACCION</th>
            <th rowspan="2" style="background-color: orange;vertical-align:bottom;">NOTA</th>-->
                
             </tr>
             <tr> 
                 <th>&nbsp;</th>
                  
          <th style="width: 600px">
             <div style="display:inline-block;vertical-align:-webkit-baseline-middle;width:250px;height:15px;font-size:8.0pt;font-family:Tahoma;color:#000000">
              Apellidos y nombres
             </div></th>
                    
                   <td data-ng-repeat-start="distributivo in aula.distributivos" ng-if="p<=3&&q<3" class="malla-field" ><div class="solo-rotar" ng-class="{'malla-field-rotate': !estaReducido(),'malla-field-rotate-min': estaReducido() }">Tareas Investigaciones</div></td> 
                   <td ng-if="p<=3&&q<3" class="malla-field" ><div class="solo-rotar" ng-class="{'malla-field-rotate': !estaReducido(),'malla-field-rotate-min': estaReducido() }"  >Actividades Individuales</div></td> 
                   <td ng-if="p<=3&&q<3" class="malla-field" ><div class="solo-rotar" ng-class="{'malla-field-rotate': !estaReducido(),'malla-field-rotate-min': estaReducido() }" >Actividades Grupales</div></td> 
                   <td ng-if="p<=3&&q<3" class="malla-field" ><div class="solo-rotar" ng-class="{'malla-field-rotate': !estaReducido(),'malla-field-rotate-min': estaReducido() }" >Lecciones</div></td> 
                   <td ng-if="p<=3&&q<3" class="malla-field" ><div class="solo-rotar" ng-class="{'malla-field-rotate': !estaReducido(),'malla-field-rotate-min': estaReducido() }" >E.&nbsp;SUMATIVA</div></td> 
                   <td ng-if="p<=3&&q<3" class="malla-field" style="background-color: gainsboro;" ><div class="solo-rotar" ng-class="{'malla-field-rotate': !estaReducido(),'malla-field-rotate-min': estaReducido() }">PROMEDIO</div></td>
                   <td data-ng-repeat-end ng-if="p<=3&&q<3" class="malla-field" style="background-color: gainsboro;" ><div class="solo-rotar" ng-class="{'malla-field-rotate': !estaReducido(),'malla-field-rotate-min': estaReducido() }">E.&nbsp;Cualitativa</div></td> 
                <!-- Quimestrales -->   
                <td  data-ng-repeat-start="distributivo in aula.distributivos" ng-if="p==4&&q<3" style="background-color: white;height:90px;vertical-align:bottom;"><div class="solo-rotar" style="width: 20px;line-height: 1em;">I&nbsp;PARCIAL</div></td>
                <td ng-if="p==4&&q<3" style="background-color: white;height:90px;vertical-align:bottom;"><div class="solo-rotar" style="width: 20px;line-height: 1em;">II&nbsp;PARCIAL</div></td>
                <td ng-if="p==4&&q<3" style="background-color: white;height:90px;vertical-align:bottom;"><div class="solo-rotar" style="width: 20px;line-height: 1em;">III&nbsp;PARCIAL</div></td>
                <td ng-if="p==4&&q<3" style="background-color: white;height:90px;vertical-align:bottom;"><div class="solo-rotar" style="width: 20px;line-height: 1em;">PROMEDIO PARCIAL</div></td>
                <td ng-if="p==4&&q<3" style="background-color: white;height:90px;vertical-align:bottom;"><div class="solo-rotar" style="width: 20px;line-height: 1em;">80%&nbsp;DE&nbsp;LOS PARCIALES</div></td>
                <td ng-if="p==4&&q<3" style="background-color: white;height:90px;vertical-align:bottom;"><div class="solo-rotar" style="width: 20px;line-height: 1em;">EXAMEN</div></td>
                <td ng-if="p==4&&q<3" style="background-color: white;height:90px;vertical-align:bottom;"><div class="solo-rotar" style="width: 20px;line-height: 1em;">20%&nbsp;DEL EXAMEN</div></td>
                <td data-ng-repeat-end ng-if="p==4&&q<3"  style="background-color: gainsboro;height:90px;vertical-align:bottom;"><div class="solo-rotar" style="width: 20px;line-height: 1em;">N&nbsp;O&nbsp;T&nbsp;A QUIMESTRAL</div></td>

                 
                   <td data-ng-repeat-start="distributivo in aula.distributivos" ng-if="q==3" class="malla-field" style="background-color: gainsboro;"><div class="solo-rotar" style="width: 30px">PROMEDIO ANUAL</div></td> 
                   <td ng-if="q==3" class="malla-field" style="background-color: gainsboro;"><div class="solo-rotar" style="width: 30px">EXAMEN RECUPERAC</div></td> 
                   <td ng-if="q==3" class="malla-field" style="background-color: gainsboro;"><div class="solo-rotar" style="width: 30px">EXAMEN SUPLETORIO</div></td> 
                   <td ng-if="q==3" class="malla-field" style="background-color: gainsboro;"><div class="solo-rotar" style="width: 30px">EXAMEN REMEDIAL</div></td> 
                   <td data-ng-repeat-end ng-if="q==3" class="malla-field" style="background-color: gainsboro;"><div class="solo-rotar" style="width: 30px">PROMEDIO FINAL</div></td> 
                                      
            </tr>
          </thead>
          <tbody>   
              
                   {%verbatim%}
                  
                   <tr data-ng-repeat="alumno in aula.matriculados">
                   <td>{{alumno.id}}</td>   
                   <td>
                        <div class="letraprint1" style="text-align: left;display:inline-block;width:250px;height:15px;">{{alumno.matriculacodestudiante.estudiante}}</div>
                   </td>
                                      
                   <!--<td>E</td>-->
                               <td data-ng-repeat-start="distributivo in aula.distributivos" ng-if="p<=3&&q<3">{{findCalificacion(alumno,distributivo.distributivocodmateria.id)['q'+q+'_p'+p+'_n1']}}</td> 
                               <td ng-if="p<=3&&q<3">{{findCalificacion(alumno,distributivo.distributivocodmateria.id)['q'+q+'_p'+p+'_n2']}}</td> 
                               <td ng-if="p<=3&&q<3">{{findCalificacion(alumno,distributivo.distributivocodmateria.id)['q'+q+'_p'+p+'_n3']}}</td> 
                               <td ng-if="p<=3&&q<3">{{findCalificacion(alumno,distributivo.distributivocodmateria.id)['q'+q+'_p'+p+'_n4']}}</td> 
                               <td ng-if="p<=3&&q<3">{{findCalificacion(alumno,distributivo.distributivocodmateria.id)['q'+q+'_p'+p+'_n5']}}</td> 
                               <td ng-if="p<=3&&q<3" style=" -webkit-print-color-adjust:exact;background-color: gainsboro;" >{{prparcial($parent.$parent.$index,distributivo.distributivocodmateria.id)}}</td> 
                               <td data-ng-repeat-end ng-if="p<=3&&q<3" style=" -webkit-print-color-adjust:exact;background-color: gainsboro;"  >{{cualitativa(prparcial($parent.$parent.$index,distributivo.distributivocodmateria.id))}}</td> 
                                                          
                            
                            <td data-ng-repeat-start="distributivo in aula.distributivos" ng-if="p==4&&q<3" >{{prparcial($parent.$parent.$index,distributivo.distributivocodmateria.id,q,1)}}</td>
                            <td ng-if="p==4&&q<3"  >{{prparcial($parent.$parent.$index,distributivo.distributivocodmateria.id,q,2)}}</td>
                            <td ng-if="p==4&&q<3" >{{prparcial($parent.$parent.$index,distributivo.distributivocodmateria.id,q,3)}}</td>
                            <td ng-if="p==4&&q<3" >{{prparciales($parent.$parent.$index,distributivo.distributivocodmateria.id,q)}}</td>
                            <td ng-if="p==4&&q<3" >{{prparciales80($parent.$parent.$index,distributivo.distributivocodmateria.id,q)}}</td>
                            <td ng-if="p==4&&q<3">{{findCalificacion(alumno,distributivo.distributivocodmateria.id)['q'+q+'_ex']}}</td> 
                            <td ng-if="p==4&&q<3" >{{ex20($parent.$parent.$index,distributivo.distributivocodmateria.id,q)}}</td>
                            <td data-ng-repeat-end ng-if="p==4&&q<3" style=" -webkit-print-color-adjust:exact;background-color: gainsboro;"  >{{prq($parent.$parent.$index,distributivo.distributivocodmateria.id,q)}}</td>
                            
                            <td data-ng-repeat-start="distributivo in aula.distributivos" ng-if="q==3" >{{pra($parent.$parent.$index,distributivo.distributivocodmateria.id)}}</td>
                            <td ng-if="q==3">{{findCalificacion(alumno,distributivo.distributivocodmateria.id)['mejoramiento']}}</td> 
                            <td ng-if="q==3">{{findCalificacion(alumno,distributivo.distributivocodmateria.id)['supletorio']}}</td> 
                            <td ng-if="q==3">{{findCalificacion(alumno,distributivo.distributivocodmateria.id)['gracia']}}</td> 
                            <td ng-if="q==3" data-ng-repeat-end style=" -webkit-print-color-adjust:exact;background-color: gainsboro;">{{prf($parent.$parent.$index,distributivo.distributivocodmateria.id)}}</td> 
                            <td ng-if="p<=3&&q<3&&aula.recibeProyectoEscolar()" ng-class="{'btn-danger':proyectoparcial($index,q,p)=='S.P.','btn-warning':proyectoparcial($index,q,p)=='N/A'}">{{proyectoparcial($index,q,p)}}</td> 
                            <td ng-if="p<=3&&q<3" ng-class="{'btn-danger':comportamientoparcial($index,q,p)=='S.C.','btn-warning':comportamientoparcial($index,q,p)=='N/A'}">{{comportamientoparcial($index,q,p)}}</td> 
                            <td ng-if="p<=3&&q<3" style=" -webkit-print-color-adjust:exact;background-color:yellow;">{{prgp($index,q,p)}}</td>
                            
                            <td ng-if="p==4&&q<3" style=" -webkit-print-color-adjust:exact;background-color:yellow;">{{prgq($index,q)}}</td> 
                            
                           <td ng-if="q==3">{{sumf($index)}}</td> 
                            <td ng-if="q==3" style=" -webkit-print-color-adjust:exact;background-color:yellow;">{{prg($index)}}</td> 
                           
                           <td ng-if="q==3&&!apruebaAnioLectivo($index)" colspan="2">PIERDE AÑO</td>
                           
                          
                           <!--
                           <td ng-if="q==3" style=" -webkit-print-color-adjust:exact;background-color: gainsboro;">{{sumf($index)}}</td> 
                                                        <td colspan="2">PIERDE AÑO</td>-->
                             
                                   
                                         </tr>
                   {%endverbatim%} 
                           
                    </tbody>
          <tfoot>
              <tr style="height: 2cm;vertical-align: bottom;">
                  <td colspan="2">
                      DIRECTOR / RECTOR     (firma y sello)
                  </td>    
              </tr>
          </tfoot>
          </table>
      <!--malla-->
 <!--<div style="page-break-after: always;"></div>
<!-- </div>
</div>    -->





    <!-- Identify where the chart should be drawn. -->
  

</div>
     {%verbatim%}              
         <div rendimiento-estudiantil-aula-chart aula="aula" titulo="Grafico de Malla" p="p" q="q"`></div>
         <div rendimiento-estudiantil-pareto-aula-chart aula="aula" titulo="Grafico de Malla Pareto" p="p" q="q"`></div>
     {%endverbatim%}
</page>