    <ul>
        <li>
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">Regresar a la lista</a>
        </li>

        {%- if ('edit' in actions) and (not hide_edit) %}

        <li>
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'page': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">Editar</a>
        </li>

        {%- endif %}

        {%- if ('delete' in actions) and (not hide_delete) %}

        <li>
            {{ '{{ form_start(delete_form) }}' }}
                <input type="submit" value="Eliminar">
            {{ '{{ form_end(delete_form) }}' }}
        </li>

        {%- endif %}

    </ul>
