{% block content -%}
<link rel="stylesheet" href="{{asset('css/multiacademico.css')}}" />
<link rel="stylesheet" href="{{asset('css/imprimir.css')}}" />
<style>
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
</style>
<div id="content" >
    <div class="row noprint">
    <div class=" col-md-12">

        <!-- Start inline form -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title"><i class="fa fa-search"></i> Docentes Mostrar</h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-container="body" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-container="body" data-action="remove" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body ">

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ entity.docentecedula }}</td>
            </tr>
           
            <tr>
                <th>Trato</th>
                <td>{{ entity.docentetrato }}</td>
            </tr>
            <tr>
                <th>Docente</th>
                <td>{{ entity.docente }}</td>
            </tr>
            
        </tbody>
    </table>
            </div>
        </div>
        </div>
    </div>
   <div  class="record_actions noprint" style="display:-webkit-box;">
            <a class="btn btn-success" href="{{ path('docentes') }}">
            Regresar a la lista
            </a>
            <a class="btn btn-primary" href="{{ path('docentes_edit', { 'id': entity.id }) }}">
                Editar
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                                <i class="fa fa-key"></i> Autorizar <span class="caret"></span>
                 </button> 
                <ul class="dropdown-menu" role="menu" ng-controller="PrintCtrl">
                    <li class="dropdown-submenu">
                    <a class="test" tabindex="-1" href="#">Primer Quimestre <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu">
                        <a class="test" href="#">Primer Parcial <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':24,'quimestre':1,'parcial':1})">24 Horas</a></li>
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':48,'quimestre':1,'parcial':1})">48 Horas</a></li>
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':72,'quimestre':1,'parcial':1})">72 Horas</a></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="test" href="#">Segundo Parcial <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':24,'quimestre':1,'parcial':2})">24 Horas</a></li>
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':48,'quimestre':1,'parcial':2})">48 Horas</a></li>
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':72,'quimestre':1,'parcial':2})">72 Horas</a></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="test" href="#">Tercer Parcial <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':24,'quimestre':1,'parcial':3})">24 Horas</a></li>
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':48,'quimestre':1,'parcial':3})">48 Horas</a></li>
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':72,'quimestre':1,'parcial':3})">72 Horas</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="test" tabindex="-1" href="#">Segundo Quimestre <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu">
                        <a class="test" href="#">Primer Parcial <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':24,'quimestre':2,'parcial':1})">24 Horas</a></li>
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':48,'quimestre':2,'parcial':1})">48 Horas</a></li>
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':72,'quimestre':2,'parcial':1})">72 Horas</a></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="test" href="#">Segundo Parcial <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':24,'quimestre':2,'parcial':2})">24 Horas</a></li>
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':48,'quimestre':2,'parcial':2})">48 Horas</a></li>
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':72,'quimestre':2,'parcial':2})">72 Horas</a></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="test" href="#">Tercer Parcial <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':24,'quimestre':2,'parcial':3})">24 Horas</a></li>
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':48,'quimestre':2,'parcial':3})">48 Horas</a></li>
                          <li><a href="#" data-ng-click="openModal('docentes_autorizacion',{'docente':{{entity.id}},'horas':72,'quimestre':2,'parcial':3})">72 Horas</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
            </div>    
            {#<a class="btn btn-warning" ui-sref="multiacademico.docentes.authorize({id:{{entity.id}},horas:24})">
                Autorizar
            </a>#}
            
            
        </div>
        <div class="noprint"> 
            <br/>
            <br/>
            <br/>
            {{ form_start(delete_form) }}
             {{ form_widget(delete_form.submit,{'attr':{'class':'btn-danger'} }) }}                       
            {{ form_end(delete_form) }}                
         </div>   
        <div class="printable"/>
        

</div>
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
{% endblock %}
