{% block content -%}
<div id="content">
    <div class="row">
    <div class=" col-md-12">

        <!-- Start inline form -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title"><i class="fa fa-search"></i> Docentes Mostrar</h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-container="body" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-container="body" data-action="remove" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body ">

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ entity.docentecedula }}</td>
            </tr>
           
            <tr>
                <th>Trato</th>
                <td>{{ entity.docentetrato }}</td>
            </tr>
            <tr>
                <th>Docente</th>
                <td>{{ entity.docente }}</td>
            </tr>
            
        </tbody>
    </table>
            </div>
        </div>
        </div>
    </div>
   <div  class="record_actions" style="display:-webkit-box;">
            <a class="btn btn-success" href="{{ path('docentes') }}">
            Regresar a la lista
            </a>
            <a class="btn btn-primary" href="{{ path('docentes_edit', { 'id': entity.id }) }}">
                Editar
            </a>                
            {{ form_start(delete_form) }}
             {{ form_widget(delete_form.submit,{'attr':{'class':'btn-danger'} }) }}                       
            {{ form_end(delete_form) }}                
        </div>
</div>
{% endblock %}
