<li>
	<a href="{{ path('arxis_mail_biginbox') }}"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Bandeja de Entrada</span></a>
        
</li> 
<li>
    <a href="{{ path('agenda') }}"><i class="fa fa-lg fa-fw fa-calendar"><em>3</em></i> <span class="menu-item-parent">Calendario</span></a>
        
</li> 
{{include ('AppBundle:Menus:menu.html.twig')}}
<li>
	<a href="{{ path('ingresos') }}"><i class="fa fa-lg fa-fw fa-dollar"></i> <span class="menu-item-parent">Finanzas</span></a>
        <ul>
            <li>
                    <a href="{{ path('ingresos') }}"><i class="fa fa-lg fa-fw fa-arrow-up"></i> <span class="menu-item-parent">Ingresos</span></a>
            </li>
        </ul>
</li> 
<li>
	<a href="{{ path('tarea') }}"><i class="fa fa-lg fa-fw fa-tasks"></i> <span class="menu-item-parent">Tareas</span></a>
</li>    

<li>
						<a href="#"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">Configuracion</span></a>
                                                <ul>
                                                <li>
						<a href="{{ path('naturaleza') }}"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent">Naturalezas</span></a>
                                                </li>
                                                <li>
						<a href="{{ path('tribunales') }}"><i class="fa fa-lg fa-fw fa-legal"></i> <span class="menu-item-parent">Tribunales</span></a>
                                                </li>
                                                {% if is_granted('ROLE_ADMIN')%}
                                                <li>
						<a href="{{ path('secured_user') }}"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Usuarios</span></a>
                                                </li>
                                                {%endif%}
                                                {% if is_granted('ROLE_SUPER_ADMIN')%}
                                                <li>
						<a href="{{ path('admin_role') }}"><i class="fa fa-lg fa-fw flaticon-businessman271"></i> <span class="menu-item-parent">Roles</span></a>
                                                </li>
                                                {%endif%}
                                                {{include("UbicatexBundle:Menus:menu.html.twig")}}
                                                </ul>
</li>
                                       
