{% block content -%}
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Ingresos', 'Mostrar']" icon="file"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="{{path('layout-sub-header')}}"></div>
    </div>
    <div class="row">

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td><a href="{{path("contactos_show",{'id':entity.cliente.id})}}">{{ entity.cliente.obtener_nombre() }}</a></td>
            </tr>
            {% if entity.caso %}
            <tr>
                <th>Caso Relacionado</th>
                <td><a href="{{path("casos_show",{'id':entity.caso.id})}}">{{ entity.caso}}</a></td>
            </tr>
            {%endif%}
            <tr>
                <th>Monto</th>
                <td>{{ entity.monto }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Forma de Pago</th>
                <td>{{ entity.formaPago.formaPago }}</td>
            </tr>
             <tr>
                <th>Referencia</th>
                <td>{{ entity.referencia }}</td>
            </tr>
             <tr>
                <th>Cobrado por</th>
                <td>{{ entity.collectedby }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="row">
        <ul class="record_actions">
    <li>
        <a href="{{ path('ingresos') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('ingresos_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </div>
</div>
{% endblock %}
