{% block body -%}


<div class="page-content-area" style="opacity: 1;">
<center>
<table class="noprint" width="630" border="0" cellpadding="1" cellspacing="0" bgcolor="808080">
   <tbody>
      <tr>
         <td>
            <table border="0" width="100%" cellpadding="2" cellspacing="0" bgcolor="D4D0C8" height="20">
               <tbody>
                  <tr>
                     <td>
                        <table border="0" width="100%" cellpadding="0" cellspacing="0">
                           <tbody>
                              <tr>
                                 <td>
                                    <center>
                                       <table cellpadding="2" cellspacing="0" border="0" width="400">
                                          <tbody>
                                             <tr>
                                                <td width="20"><a href="multiacademico_index.php#page/docentes_lista_calificaciones_diaria.php?presionado=si&amp;limite_hoja=1&amp;opcion=inicio&amp;limite_de=0&amp;codigo=00148&amp;coddocente=022"><img src="inicio.png" border="0" alt=" Inicio "></a></td>
                                                <td width="20"><img src="siguiente.png" border="0" alt=" Siguiente "></td>
                                                <td width="20">
                                                   <center><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">1</span></center>
                                                </td>
                                                <td></td>
                                                <td width="20"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">1</span></td>
                                                <td width="20"><img src="atras.png" border="0" alt=" Atras "></td>
                                                <td width="20"><a href="multiacademico_index.php#page/docentes_lista_calificaciones_diaria.php?presionado=si&amp;limite_hoja=1&amp;opcion=ultimo&amp;limite_de=0&amp;codigo=00148&amp;coddocente=022"><img src="ultimo.png" border="0" alt=" Ultimo "></a></td>
                                                <td width="10"><img src="imprimir.png" border="0" alt=" Imprimir " onclick="window.print();"></td>
                                                <td width="10"><a href="multiacademico_index.php#page/docentes_seleccionar_curso_estudiantes.php?codigo=00148&amp;coddocente=022"><img src="menu.png" border="0" alt=" Menú "></a></td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </center>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<center>
   <table border="0" width="630" cellpadding="0" cellspacing="0">
      <tbody>
         <tr>
            <td>
               <table border="0" width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                     <tr></tr>
                     <tr>
                        <td>
                           <center>
                              <span style="font-size:15.0pt;font-family:Tahoma;color:#000000"><b>INTERNATIONAL HOUSE BRITISH SCHOOL OF LANGUAGE</b></span>
                              <center></center>
                           </center>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <center>
                              <span style="font-size:10.0pt;font-family:Tahoma;color:#000000"><b>Periodo Lectivo 2014 - 2015</b></span>
                              <center></center>
                           </center>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <center>
                              <span style="font-size:10.0pt;font-family:Tahoma;color:#000000"><b>Reporte de Calificaciones</b></span>
                              <center></center>
                           </center>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <center>
                  <table border="0" width="100%" cellpadding="1" cellspacing="1">
                     <tbody>
                        <tr height="5">
                           <td></td>
                        </tr>
                     </tbody>
                  </table>
                  <center>
                     <table border="0" width="630" cellpadding="1" cellspacing="1" bgcolor="FFFFFF">
                        <tbody>
                           <tr height="20" bgcolor="FFFFFF">
                              <td width="57"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>Mes</b></span></td>
                              <td><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>:</b></span></td>
                           </tr>
                        </tbody>
                     </table>
                  </center>
                  <center>
                     <table border="0" width="630" cellpadding="1" cellspacing="1" bgcolor="000000">
                        <tbody>
                           <tr height="20" bgcolor="FFFFFF">
                              <td width="60"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>Curso </b></span></td>
                              <td><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>{{curso}} </b></span></td>
                              <td width="70"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>Materia</b></span></td>
                              <td width="225"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>{{materia}}</b></span></td>
                           </tr>
                           <tr height="20" bgcolor="FFFFFF">
                              <td width="60"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>Docente </b></span></td>
                              <td><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b> Lcd. BELTRON MACIAS GINA MAYIYA</b></span><b><b></b></b></td>
                              <td width="70"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>1er Parcial</b></span></td>
                              <td width="225"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>{{parcial.text_quimestre()}}</b></span></td>
                           </tr>
                        </tbody>
                     </table>
                  </center>
                  <center>
                     <table border="0" width="630" cellpadding="1" cellspacing="1" bgcolor="000000">
                        <tbody>
                           <tr height="40" bgcolor="FFFFFF">
                              <td></td>
                              <td width="87<span" style="font-size:7.0pt;font-family:Tahoma;color:000000">
                                 <b>
                                    <center>Tareas <br> Investigaciones</center>
                                 </b>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </center>
                  <center>
                     <table border="1" width="630" cellpadding="1" cellspacing="0" bgcolor="000000">
                        <tbody>
                           <tr height="20" bgcolor="FFFFFF">
                              <td><span style="font-size:8.0pt;font-family:Tahoma;color:000000"><b>No.</b></span></td>
                              <td><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>Apellidos y Nombres</b></span></td>
                              <td width="15">
                                 <span style="font-size:8.0pt;font-family:Tahoma;color:#000000">
                                    <center>1</center>
                                 </span>
                              </td>
                              <td width="15">
                                 <span style="font-size:8.0pt;font-family:Tahoma;color:#000000">
                                    <center>2</center>
                                 </span>
                              </td>
                              <td width="15">
                                 <span style="font-size:8.0pt;font-family:Tahoma;color:#000000">
                                    <center>3</center>
                                 </span>
                              </td>
                              <td width="15">
                                 <span style="font-size:8.0pt;font-family:Tahoma;color:#000000">
                                    <center>4</center>
                                 </span>
                              </td>
                              <td width="15">
                                 <span style="font-size:8.0pt;font-family:Tahoma;color:#000000">
                                    <center>5</center>
                                 </span>
                              </td>
                              <td width="15">
                                 <span style="font-size:8.0pt;font-family:Tahoma;color:#000000">
                                    <center>6</center>
                                 </span>
                              </td>
                           </tr>
                              {{ form_start(form) }}
 {%for calificacion in form.calificaciones %}
                           <tr bgcolor="FFFFFF" height="20">



                              <td width="15"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">{%set nummat=listado[loop.index0].calificacionnummatricula.id %} 
                              {%set notares='M'~nummat~'q'~qactivo~'P'~pactivo~'N' %}
                            <!-- {%set promediopv='PM'~nummat~'q'~qactivo~'P'~pactivo %} -->
                            <!-- {%set promediopt='PPTM'~nummat~'q'~qactivo %} -->
                            <!-- {%set promediopt80='PPT80M'~nummat~'q'~qactivo %} -->
                            {%set ppval=listado[loop.index0].getPromedioParcial(qactivo,pactivo)%}
                            {%set pptval=listado[loop.index0].getPromedioParciales(qactivo)%}
                                
                            {%set promediopv='PM'~nummat~'q'~qactivo~'P'~pactivo %}
                            {%set exvar='q'~qactivo~'Ex' %}
                            {%set exres='M'~nummat~exvar%}
                            {%set exres20=exres~'V20'%}
                            {%set promedioqv='PQ'~nummat~'q'~qactivo %}
                            {{nummat }}
                              </span></td>
                                 </span></td>
                              <td><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">
                            {{listado[loop.index0].calificacionnummatricula }}
                              <td width="15">
                               </td>
                              <td width="15">
                              </td>
                              <td width="15">
                              <td width="15">
                            </td>
                                
                              </td>
                              <td width="15">
                                
                              </td>
                              <td width="15">
                              </td>
                           </tr>
                            
                            
                                   
                         <!--    {%for i in 1..5%}
                            {%set notavar='q'~qactivo~'P'~pactivo~'N'~i %}
                            {{ form_errors(calificacion[notavar]) }}
                            {{ form_widget(calificacion[notavar],{'attr':
                            {'ng-model':'M'~nummat~notavar,
                            'ng-init':'M'~nummat~notavar~'='~(calificacion[notavar].vars.value|replace(',','.')),
                            'ng-change':promediopv~'=((('~notares~'1+'~
                            notares~'2+'~
                            notares~'3+'~
                            notares~'4+'~    
                            notares~'5)/5)|number:2);'~
                            promediopt~'=(('~(pptval-(ppval/3))~'*1+'~promediopv~'/3)|number:2);'~
                            promediopt80~'=(('~promediopt~'*0.8)|number:2);'~
                            promedioqv~'=('~exres20~'*1+1*'~promediopt80~');'   
                            }
                            })
                                         }}
                                      
                                    {%endfor%} 
                                    -->
                               
                                   
                            {%endfor%}    
                        

                            
                        {# ... #}
                    {{ form_end(form) }}

                        </tbody>
                     </table>
                     <center>
                        <!-- <table border="0" width="630" cellpadding="2" cellspacing="0" bgcolor="FFFFFF">
                           <tbody>
                              <tr>
                                 <td></td>
                                 <td width="20">
                                    <span style="font-size:8.0pt;font-family:Tahoma;color:#000000">
                                       <center>1/1</center>
                                    </span>
                                 </td>
                              </tr>
                           </tbody>
                        </table> -->
                     </center>
                  </center>
               </center>
            </td>
         </tr>
      </tbody>
   </table>
</center>
<br><br>

                 

{% endblock %}