{% for item in cobros %}
{{ item.valor1 }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ item.valor2 }}{{ item.valor3 }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ item.valor4 }}&nbsp;{{ item.valor5 }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ item.valor6 }} <br>
            {% endfor %}


<script>
	
// 	 function download(text, name, type) {
//   var a = document.getElementById("a");
//   var file = new Blob([text], {type: type});
//   a.href = URL.createObjectURL(file);
//   a.download = name;
// }
// <a href="" id="a">click here to download your file</a>
// <button onclick="download('file text', 'myfilename.txt', 'text/plain')">Create file</button>
//   $myfile = fopen("newfile.txt", "w") or die("Unable to open file!");
// $txt=null;
// $txt .= "Codigo prueba para \n";
// fwrite($myfile, $txt);
// $txt = "Minnie Mouse\n";
// fwrite($myfile, $txt);
// fclose($myfile);



 // var a = document.documentElement.innerHTML;
 //  var file = new Blob([text], {type: type});
 //  a.href = URL.createObjectURL(file);
 //  a.download = name;

  
</script>