{% block content -%}
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Periodos', 'Mostrar']" icon="file"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            </div>
    <div class="row">

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Periodo</th>
                <td>{{ entity.periodo }}</td>
            </tr>
            <tr>
                <th>Periodoestado</th>
                <td>{{ entity.periodoestado }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="row">
        <ul class="record_actions">
    <li>
        <a href="{{ path('periodos') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('periodos_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </div>
</div>
{% endblock %}
