{#<div class="row">
    <div class="col-md-12">
        <div class="callout callout-info mb-20">
            <a href="https://vitalets.github.io/angular-xeditable" target="_blank">Angular-xeditable</a> is a bundle of AngularJS directives that allows you to create editable elements.
            Such technique is also known as click-to-edit or edit-in-place.
            It is based on ideas of x-editable but was written from scratch to use power of angular.
        </div>
    </div>
</div><!-- /.row -->
#}
<style>
    img.editable{
        cursor: pointer;
        max-height: 100px;
        max-width: 100px;
    } 
    
    img.editable:hover {
        opacity: 0.75;
        filter: alpha(opacity=75);
    }
</style>
<div class="body-content animated fadeIn">
                  
                    <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4">
                            
                        <div class="panel rounded shadow">
                            <div class="panel-body">
                                <div class="inner-all">
                                    <ul class="list-unstyled">
                                        <li class="text-center">
                                          {{form_start(changeavatarform)}}
                                               <div class="form-group">
                                                <div class="fileinput fileinput-new" data-provides="fileinput" >
                                                    
                                                        <img id="avatar" class="fileinput-new img-circle img-bordered-primary editable" data-trigger="fileinput" src="{{asset(usuario.getWebPath())}}" alt='img' data-pin-nopin="true" />
                                                    
                                                    <div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput" style="width: 150px; height: 150px"></div>
                                                    <div>
                                                        
                                                        <button type="submit" class="btn btn-primary btn-file fileinput-exists" ><i class="fa fa-check"></i></button>
                                                        <span class="btn btn-primary btn-file hidden">
                                                            <span class="fileinput-exists">
                                                                </span>{{form_widget(changeavatarform.file)}}</span>
                                                        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i></a>
                                                    </div>
                                                </div>
                                               </div>
                                            {{form_end(changeavatarform)}}            
                                            
                                        </li>
                                         
                                        <li class="text-center">
                                            <h4 class="text-capitalize">{{usuario.name}}</h4>
                                            <p class="text-muted text-capitalize">{{usuario.cargo}}</p>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-primary text-center btn-block">Cuenta PRO</a>
                                        </li>
                                        <li><br></li>
                                        <li>
                                            <div class="btn-group-vertical btn-block">
                                                {#<a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Editar Cuenta</a>#}
                                                <a data-ng-href="logout" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Cerrar Sesión</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.panel -->

                        <div class="panel panel-theme rounded shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Contacto</h3>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-sm btn-info"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="btn btn-sm btn-info"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="btn btn-sm btn-info"><i class="fa fa-google-plus"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding rounded">
                                <ul class="list-group no-margin">
                                    <li class="list-group-item"><i class="fa fa-envelope mr-5"></i> {{usuario.email}}</li>
                                    <li class="list-group-item"><i class="fa fa-globe mr-5"></i> {{usuario}}</li>
                                    <li class="list-group-item">
                                       
                                    </li>
                                    <li class="list-group-item"><i class="fa fa-phone mr-5"></i> {{usuario.telefono}}</li>
                                </ul>
                            </div><!-- /.panel-body -->
                        </div><!-- /.panel -->
                        
                            <div class="panel rounded shadow">
                                <div class="ribbon-wrapper">
                                    <div class="ribbon ribbon-primary"><i class="fa fa-star"></i> 7.8</div>
                                </div><!-- /.ribbon-wrapper -->
                                <div class="panel-body no-padding text-center">
                                    <img src="/multiacademico/web/uploads/documents/images/profile/ef037a0b178f74814613db3b546522f912ed2b87 - copia.png" alt="..." class="img-responsive br-t-3 full-width">
                                    <div class="inner-all block text-center mt-20 mb-20">
                                        <div class="rating rating-2x rating-primary mb-30">
                                            <span class="star"></span>
                                            <span class="star active"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                        </div><!-- /.rating -->
                                        <p class="text-muted">
                                            Puedes valorar al estudiante.
                                        </p>
                                    </div><!-- /.inner-all -->
                                </div><!-- /.panel-body -->
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <span class="text-muted">Valorado por: <br/></span>
                                        <img src="/multiacademico/web/uploads/documents/images/profile/male.png" alt="..." class="img-circle">
                                        <img src="/multiacademico/web/uploads/documents/images/profile/male.png" alt="..." class="img-circle">
                                        <img src="/multiacademico/web/uploads/documents/images/profile/male.png" alt="..." class="img-circle">
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-footer -->
                            </div><!-- /.panel -->
                        

                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8">

                    <div class="profile-cover">
                        <div class="cover rounded shadow no-overflow">
                            <div class="inner-cover">
                                <!-- Start offcanvas btn group menu: This menu will take position at the top of profile cover (mobile only). -->
                                <div class="btn-group cover-menu-mobile hidden-lg hidden-md">
                                    <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right no-border" role="menu">
                                        <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Reciente</span></a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Fotos</span> <small>(98)</small></a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Amigos </span><small>(23)</small></a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-envelope"></i> <span>Mensajes</span> <small>(7 nuevos)</small></a></li>
                                    </ul>
                                </div>
                                <img src="/multiacademico/web/uploads/documents/images/profile/ef037a0b178f74814613db3b546522f912ed2b87 - copia.png" class="img-responsive full-width" alt="cover">
                            </div>
                            <ul class="list-unstyled no-padding hidden-sm hidden-xs cover-menu">
                                <li class="active"><a href="page-timeline.html"><i class="fa fa-fw fa-clock-o"></i> <span>Reciente</span></a></li>
                                <li><a href="page-profile.html"><i class="fa fa-fw fa-user"></i> <span>Acerca</span></a></li>
                                <li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Fotos</span> <small>(98)</small></a></li>
                                <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Amigos</span><small>(23)</small></a></li>
                                <li><a href="#"><i class="fa fa-fw fa-envelope"></i> <span>Mensajes</span> <small>(7 nuevos)</small></a></li>
                            </ul>
                        </div><!-- /.cover -->
                    </div><!-- /.profile-cover -->
                    <div class="divider"></div>

					<div class="btn-group btn-group-justified">
						<span class="btn btn-app btn-sm btn-info no-hover">
							<span class="line-height-1 bigger-170 blue"> 1,411 </span>

							<br>
							<span class="line-height-1 smaller-90"> Visitas </span>
						</span>

						<span class="btn btn-app btn-sm btn-warning no-hover">
							<span class="line-height-1 bigger-170"> 32 </span>

							<br>
							<span class="line-height-1 smaller-90"> Seguidores </span>
						</span>

						<span class="btn btn-app btn-sm btn-primary no-hover">
							<span class="line-height-1 bigger-170"> 23 </span>

							<br>
							<span class="line-height-1 smaller-90"> Materias </span>
						</span>

						<span class="btn btn-app btn-sm btn-success no-hover">
							<span class="line-height-1 bigger-170"> 7 </span>

							<br>
							<span class="line-height-1 smaller-90"> Cursos </span>
						</span>
					</div>
                                
                    <div class="divider"></div>
                    
                    <div class="panel rounded shadow">
                        <form action="...">
                            <textarea class="form-control input-lg no-border" rows="2" placeholder="¿En que estas pensando?"></textarea>
                        </form>
                        <div class="panel-footer">
                            <button class="btn btn-primary pull-right mt-5">PUBLICAR</button>
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-user"></i></a></li>
                                <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                                <li><a href="#"><i class="fa fa-camera"></i></a></li>
                                <li><a href="#"><i class="fa fa-smile-o"></i></a></li>
                            </ul><!-- /.nav nav-pills -->
                        </div><!-- /.panel-footer -->
                    </div><!-- /.panel -->
                    <div class="row">
                            <div class="panel panel-primary rounded shadow">
                                <div class="panel-heading no-border">
                                    <div class="pull-right">
                                        <a href="#" class="text-white h4"><i class="fa fa-heart"></i> 15.5K</a>
                                    </div><!-- /.pull-right -->
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body no-padding">
                                    <img src="/multiacademico/web/uploads/documents/images/profile/ef037a0b178f74814613db3b546522f912ed2b87 - copia.png" alt="..." class="img-responsive full-width">
                                    <div class="inner-all block">
                                        ver todo <a href="#">7 comentarios</a>
                                    </div><!-- /.inner-all -->
                                    <div class="line no-margin"></div><!-- /.line -->
                                    <div class="media inner-all no-margin">
                                        <div class="pull-left">
                                            <img src="/multiacademico/web/uploads/documents/images/profile/male.png" alt="...">
                                        </div><!-- /.pull-left -->
                                        <div class="media-body">
                                            <a href="#" class="h4">Ana Diaz</a>
                                            <small class="block text-muted">Muy bien! </small>
                                            <em class="text-xs text-muted">Publicado: <span class="text-danger">Diciembre 08, 2014</span></em>
                                        </div><!-- /.media-body -->
                                    </div><!-- /.media -->
                                    <div class="line no-margin"></div><!-- /.line -->
                                    <div class="media inner-all no-margin">
                                        <div class="pull-left">
                                            <img src="/multiacademico/web/uploads/documents/images/profile/male.png" alt="...">
                                        </div><!-- /.pull-left -->
                                        <div class="media-body">
                                            <a href="#" class="h4">Carlos Vargas</a>
                                            <small class="block text-muted">Excelente!</small>
                                            <em class="text-xs text-muted">Publicado: <span class="text-danger">Diciembre 08, 2014</span></em>
                                        </div><!-- /.media-body -->
                                    </div><!-- /.media -->
                                </div><!-- /.panel-body -->
                                <div class="panel-footer">
                                    <form action="#" class="form-horizontal">
                                        <div class="form-group has-feedback no-margin">
                                            <input class="form-control" type="text" placeholder="Escribe tu comentario aqui...">
                                            <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                                        </div>
                                    </form>
                                </div><!-- /.panel-footer -->
                            </div><!-- /.panel -->
                            
                            <div class="panel panel-primary rounded shadow">
                                <div class="panel-heading no-border">
                                    <div class="pull-left half">
                                        <div class="media">
                                            <div class="media-object pull-left">
                                                <img src="/multiacademico/web/uploads/documents/images/profile/male.png" alt="..." class="img-circle">
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="media-heading block mb-0 h4 text-white">Estudiante</a>
                                                <span class="text-white h6">8 de junio, 2014</span>
                                            </div>
                                        </div>
                                    </div><!-- /.pull-left -->
                                    <div class="pull-right">
                                        <a href="#" class="text-white h4"><i class="fa fa-heart"></i> 15.5K</a>
                                    </div><!-- /.pull-right -->
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body no-padding">
                                    <div class="inner-all block">
                                        <h4>Album</h4>
                                        <p>
                                             Imagenes de los estudiasntes de ciencias.
                                        </p>
                                        <blockquote class="mb-10">Viaje recracional</blockquote>

                                        <img src="/multiacademico/web/uploads/documents/images/profile/ef037a0b178f74814613db3b546522f912ed2b87 - copia.png" alt="..." width="100">
                                        <img src="/multiacademico/web/uploads/documents/images/profile/ef037a0b178f74814613db3b546522f912ed2b87 - copia.png" alt="..." width="100">
                                    </div><!-- /.inner-all -->
                                    <div class="inner-all bg-primary">
                                        ver todo <a href="#">7 comentarios</a>
                                    </div>
                                </div><!-- /.panel-body -->
                                <div class="panel-footer no-padding no-border">
                                    <div class="media inner-all no-margin">
                                        <div class="pull-left">
                                            <img src="/multiacademico/web/uploads/documents/images/profile/male.png" alt="...">
                                        </div><!-- /.pull-left -->
                                        <div class="media-body">
                                            <a href="#" class="h4">Emilio Riera</a>
                                            <small class="block text-muted">me gusta! </small>
                                            <em class="text-xs text-muted">Publicado: <span class="text-danger">Diciembre 08, 2014</span></em>
                                        </div><!-- /.media-body -->
                                    </div><!-- /.media -->
                                    <div class="line no-margin"></div><!-- /.line -->
                                    <div class="media inner-all no-margin">
                                        <div class="pull-left">
                                            <img src="/multiacademico/web/uploads/documents/images/profile/male.png" alt="...">
                                        </div><!-- /.pull-left -->
                                        <div class="media-body">
                                            <a href="#" class="h4">Camila Virguez</a>
                                            <small class="block text-muted">Excelente viaje!</small>
                                            <em class="text-xs text-muted">Publicado: <span class="text-danger">Diciembre 08, 2014</span></em>
                                        </div><!-- /.media-body -->
                                    </div><!-- /.media -->
                                    <div class="line no-margin"></div><!-- /.line -->
                                    <form action="#" class="form-horizontal inner-all">
                                        <div class="form-group has-feedback no-margin">
                                            <input class="form-control" type="text" placeholder="Escribe tu comntario aqui...">
                                            <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                                        </div>
                                    </form><!-- /.form-horizontal -->
                                </div><!-- /.panel-footer -->
                            </div><!-- /.panel -->
                        
                    </div>
                    </div>
                    </div><!-- /.row -->

</div>
                                


                                   
{#<script type="text/javascript">
	var scripts = [null,"./assets/js/jquery-ui.custom.min.js",
            "./assets/js/jquery.ui.touch-punch.min.js",
            "./assets/js/jquery.gritter.min.js",
            "./assets/js/bootbox.min.js",
            "./assets/js/jquery.easypiechart.min.js",
            "./assets/js/date-time/bootstrap-datepicker.min.js",
            "./assets/js/jquery.hotkeys.min.js",
            "./assets/js/bootstrap-wysiwyg.min.js",
            "./assets/js/select2.min.js",
            "./assets/js/fuelux/fuelux.spinner.min.js",
            "./assets/js/x-editable/bootstrap-editable.min.js",
            "./assets/js/x-editable/ace-editable.min.js",
            "./assets/js/jquery.maskedinput.min.js", null]
	ace.load_ajax_scripts(scripts, function() {
	  //inline scripts related to this page
		 jQuery(function($) {
                     
                     function diferir(deferred,field,ie_timeout)
                     {
                         deferred
						.done(function(result) {//success
							var res = result[0];//the `result` is formatted by your server side response and is arbitrary
							if(res.status == 'OK') $(field).get(0).src = res.url;
							else alert(res.message);
						})
						.fail(function(result) {//failure
							alert("Ha ocurrido un error");
						})
						.always(function() {//called on both success and failure
							if(ie_timeout) clearTimeout(ie_timeout)
							ie_timeout = null;	
						});

						return deferred.promise();
                     };
		//editables on first profile page
		$.fn.editable.defaults.mode = 'inline';
		$.fn.editableform.loading = "<div class='editableform-loading'><i class='ace-icon fa fa-spinner fa-spin fa-2x light-blue'></i></div>";
	    $.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="ace-icon fa fa-check"></i></button>'+
	                                '<button type="button" class="btn editable-cancel"><i class="ace-icon fa fa-times"></i></button>';    
		
		//editables 
		
	
	
		
	
	
		
	
		//custom date editable
		$('#signup').editable({
			type: 'adate',
			date: {
				//datepicker plugin options
				    format: 'yyyy/mm/dd',
				viewformat: 'yyyy/mm/dd',
				 weekStart: 1
				 
				//,nativeUI: true//if true and browser support input[type=date], native browser control will be used
				//,format: 'yyyy-mm-dd',
				//viewformat: 'yyyy-mm-dd'
			}
		})
	
	    $('#age').editable({
	        type: 'spinner',
			name : 'age',
			spinner : {
				min : 16,
				max : 99,
				step: 1,
				on_sides: true
				//,nativeUI: true//if true and browser support input[type=number], native browser control will be used
			},
                         url: function(params) {
						// ***UPDATE data HERE*** //
						var submit_url = './lib/data-upload.php';//please modify submit_url accordingly
						var deferred = null;
						var data_id = '#age';
                                                var field = 'data';
                                                var datafield = 'age';
                                                
                                                
                                                var $form = $(data_id).next().find('.editableform:eq(0)')
						var text_data = $form.find('input[type=text]:eq(0)');
                                                var value = text_data.val();
						var pk = $(data_id).attr('data-pk');//primary key to be sent to server
                                                
						var ie_timeout = null
                                                  if( "FormData" in window ) {
							var formData_object = new FormData();//create empty FormData object
							
							//serialize our form (which excludes file inputs)
							$.each($form.serializeArray(), function(i, item) {
								//add them one by one to our FormData 
								formData_object.append(item.name, item.value);							
							});
							//append primary key to our formData
							formData_object.append('pk', pk);
                                                        formData_object.append('field', field);
                                                        formData_object.append('data',value);
                                                        formData_object.append('datafield',datafield);
							deferred = $.ajax({
										url: submit_url,
									   type: 'POST',
								processData: false,//important
								contentType: false,//important
								   dataType: 'json',//server response type
									   data: formData_object
							})
						}
						else {
							deferred = new $.Deferred

							var temporary_iframe_id = 'temporary-iframe-'+(new Date()).getTime()+'-'+(parseInt(Math.random()*1000));
							var temp_iframe = 
									$('<iframe id="'+temporary_iframe_id+'" name="'+temporary_iframe_id+'" \
									frameborder="0" width="0" height="0" src="about:blank"\
									style="position:absolute; z-index:-1; visibility: hidden;"></iframe>')
									.insertAfter($form);
									
							$form.append('<input type="hidden" name="temporary-iframe-id" value="'+temporary_iframe_id+'" />');
							
							//append primary key (pk) to our form
							$('<input type="hidden" name="pk" />').val(pk).appendTo($form);
							
							temp_iframe.data('deferrer' , deferred);
							//we save the deferred object to the iframe and in our server side response
							//we use "temporary-iframe-id" to access iframe and its deferred object

							$form.attr({
									  action: submit_url,
									  method: 'POST',
									 enctype: 'multipart/form-data',
									  target: temporary_iframe_id //important
							});

							$form.get(0).submit();

							//if we don't receive any response after 30 seconds, declare it as failed!
							ie_timeout = setTimeout(function(){
								ie_timeout = null;
								temp_iframe.attr('src', 'about:blank').remove();
								deferred.reject({'status':'fail', 'message':'Timeout!'});
							} , 30000);
						}
                                                //deferred callbacks, triggered by both ajax and iframe solution
						diferir(deferred,data_id,ie_timeout);
						// ***END OF UPDATE data HERE*** //
				},
                       // success: function(response, newValue) {
			//}
                       
		});
		
	
	    $('#login').editable({
	        type: 'slider',
			name : 'login',
			
			slider : {
				 min : 1,
				  max: 50,
				width: 100
				//,nativeUI: true//if true and browser support input[type=range], native browser control will be used
			},
			success: function(response, newValue) {
				if(parseInt(newValue) == 1)
					$(this).html(newValue + " hora atras");
				else $(this).html(newValue + " horas atras");
			}
		});
	
		$('#about').editable({
			mode: 'inline',
                        type: 'wysiwyg',
			name : 'about',
	
			wysiwyg : {
				//css : {'max-width':'300px'}
			},
                        url: function(params) {
						// ***UPDATE data HERE*** //
						var submit_url = './lib/data-upload.php';//please modify submit_url accordingly
						var deferred = null;
						var about = '#about';
                                                var field = 'data';
                                                var datafield = 'aboutme';
                                                
                                                
                                                var input_about = $(about).next().find('input[type=hidden]:eq(0)')
                                                
						
                                                var $form = $(about).next().find('.editableform:eq(0)')
						var text_about = $form.find('div[class=wysiwyg-editor]:eq(0)');
                                                var value = text_about.html();
						var pk = $(about).attr('data-pk');//primary key to be sent to server
                                                input_about.val( value );   
						var ie_timeout = null
                                                  if( "FormData" in window ) {
							var formData_object = new FormData();//create empty FormData object
							
							//serialize our form (which excludes file inputs)
							$.each($form.serializeArray(), function(i, item) {
								//add them one by one to our FormData 
								formData_object.append(item.name, item.value);							
							});
							//append primary key to our formData
							formData_object.append('pk', pk);
                                                        formData_object.append('field', field);
                                                        formData_object.append('data',value);
                                                        formData_object.append('datafield',datafield);
							deferred = $.ajax({
										url: submit_url,
									   type: 'POST',
								processData: false,//important
								contentType: false,//important
								   dataType: 'json',//server response type
									   data: formData_object
							})
						}
						else {
							deferred = new $.Deferred

							var temporary_iframe_id = 'temporary-iframe-'+(new Date()).getTime()+'-'+(parseInt(Math.random()*1000));
							var temp_iframe = 
									$('<iframe id="'+temporary_iframe_id+'" name="'+temporary_iframe_id+'" \
									frameborder="0" width="0" height="0" src="about:blank"\
									style="position:absolute; z-index:-1; visibility: hidden;"></iframe>')
									.insertAfter($form);
									
							$form.append('<input type="hidden" name="temporary-iframe-id" value="'+temporary_iframe_id+'" />');
							
							//append primary key (pk) to our form
							$('<input type="hidden" name="pk" />').val(pk).appendTo($form);
							
							temp_iframe.data('deferrer' , deferred);
							//we save the deferred object to the iframe and in our server side response
							//we use "temporary-iframe-id" to access iframe and its deferred object

							$form.attr({
									  action: submit_url,
									  method: 'POST',
									 enctype: 'multipart/form-data',
									  target: temporary_iframe_id //important
							});

							$form.get(0).submit();

							//if we don't receive any response after 30 seconds, declare it as failed!
							ie_timeout = setTimeout(function(){
								ie_timeout = null;
								temp_iframe.attr('src', 'about:blank').remove();
								deferred.reject({'status':'fail', 'message':'Timeout!'});
							} , 30000);
						}
                                                //deferred callbacks, triggered by both ajax and iframe solution
						diferir(deferred,about,ie_timeout);
						// ***END OF UPDATE data HERE*** //
				},
			success: function(response, newValue) {
			}
		});
		
		
		
		// *** editable avatar *** //
		try {//ie8 throws some harmless exceptions, so let's catch'em
	
			//first let's add a fake appendChild method for Image element for browsers that have a problem with this
			//because editable plugin calls appendChild, and it causes errors on IE at unpredicted points
			try {
				document.createElement('IMG').appendChild(document.createElement('B'));
			} catch(e) {
				Image.prototype.appendChild = function(el){}
			}
	
			var last_gritter
			$('#avatar').editable({
				type: 'image',
				name: 'avatar',
				value: null,
				image: {
					//specify ace file input plugin's options here
					btn_choose: 'Change Avatar',
					droppable: true,
					maxSize: 110000,//~100Kb
	
					//and a few extra ones here
					name: 'avatar',//put the field name here as well, will be used inside the custom plugin
					on_error : function(error_type) {//on_error function will be called when the selected file has a problem
						if(last_gritter) $.gritter.remove(last_gritter);
						if(error_type == 1) {//file format error
							last_gritter = $.gritter.add({
								title: 'File is not an image!',
								text: 'Please choose a jpg|gif|png image!',
								class_name: 'gritter-error gritter-center'
							});
						} else if(error_type == 2) {//file size rror
							last_gritter = $.gritter.add({
								title: 'File too big!',
								text: 'Image size should not exceed 100Kb!',
								class_name: 'gritter-error gritter-center'
							});
						}
						else {//other error
						}
					},
					on_success : function() {
						$.gritter.removeAll();
					}
				},
			    url: function(params) {
						// ***UPDATE AVATAR HERE*** //
						var submit_url = './lib/file-upload.php';//please modify submit_url accordingly
						var deferred = null;
						var avatar = '#avatar';

						//if value is empty (""), it means no valid files were selected
						//but it may still be submitted by x-editable plugin
						//because "" (empty string) is different from previous non-empty value whatever it was
						//so we return just here to prevent problems
						var value = $(avatar).next().find('input[type=hidden]:eq(0)').val();
						if(!value || value.length == 0) {
							deferred = new $.Deferred
							deferred.resolve();
							return deferred.promise();
						}

						var $form = $(avatar).next().find('.editableform:eq(0)')
						var file_input = $form.find('input[type=file]:eq(0)');
						var pk = $(avatar).attr('data-pk');//primary key to be sent to server

						var ie_timeout = null


						if( "FormData" in window ) {
							var formData_object = new FormData();//create empty FormData object
							
							//serialize our form (which excludes file inputs)
							$.each($form.serializeArray(), function(i, item) {
								//add them one by one to our FormData 
								formData_object.append(item.name, item.value);							
							});
							//and then add files
							$form.find('input[type=file]').each(function(){
								var field_name = $(this).attr('name');
								var files = $(this).data('ace_input_files');
								if(files && files.length > 0) {
									formData_object.append(field_name, files[0]);
								}
							});

							//append primary key to our formData
							formData_object.append('pk', pk);
                                                     

							deferred = $.ajax({
										url: submit_url,
									   type: 'POST',
								processData: false,//important
								contentType: false,//important
								   dataType: 'json',//server response type
									   data: formData_object
							})
						}
						else {
							deferred = new $.Deferred

							var temporary_iframe_id = 'temporary-iframe-'+(new Date()).getTime()+'-'+(parseInt(Math.random()*1000));
							var temp_iframe = 
									$('<iframe id="'+temporary_iframe_id+'" name="'+temporary_iframe_id+'" \
									frameborder="0" width="0" height="0" src="about:blank"\
									style="position:absolute; z-index:-1; visibility: hidden;"></iframe>')
									.insertAfter($form);
									
							$form.append('<input type="hidden" name="temporary-iframe-id" value="'+temporary_iframe_id+'" />');
							
							//append primary key (pk) to our form
							$('<input type="hidden" name="pk" />').val(pk).appendTo($form);
							
							temp_iframe.data('deferrer' , deferred);
							//we save the deferred object to the iframe and in our server side response
							//we use "temporary-iframe-id" to access iframe and its deferred object

							$form.attr({
									  action: submit_url,
									  method: 'POST',
									 enctype: 'multipart/form-data',
									  target: temporary_iframe_id //important
							});

							$form.get(0).submit();

							//if we don't receive any response after 30 seconds, declare it as failed!
							ie_timeout = setTimeout(function(){
								ie_timeout = null;
								temp_iframe.attr('src', 'about:blank').remove();
								deferred.reject({'status':'fail', 'message':'Timeout!'});
							} , 30000);
						}


						//deferred callbacks, triggered by both ajax and iframe solution
						deferred
						.done(function(result) {//success
							var res = result[0];//the `result` is formatted by your server side response and is arbitrary
							if(res.status == 'OK') $(avatar).get(0).src = res.url;
							else alert(res.message);
						})
						.fail(function(result) {//failure
							alert("There was an error");
						})
						.always(function() {//called on both success and failure
							if(ie_timeout) clearTimeout(ie_timeout)
							ie_timeout = null;	
						});

						return deferred.promise();
						// ***END OF UPDATE AVATAR HERE*** //
				},
				
				success: function(response, newValue) {
				}
			})
		}catch(e) {}
		
		

	
		//////////////////////////////
		$('#profile-feed-1').ace_scroll({
			height: '250px',
			mouseWheelLock: true,
			alwaysVisible : true
		});
	
		$('a[ data-original-title]').tooltip();
	
		$('.easy-pie-chart.percentage').each(function(){
		var barColor = $(this).data('color') || '#555';
		var trackColor = '#E2E2E2';
		var size = parseInt($(this).data('size')) || 72;
		$(this).easyPieChart({
			barColor: barColor,
			trackColor: trackColor,
			scaleColor: false,
			lineCap: 'butt',
			lineWidth: parseInt(size/10),
			animate:false,
			size: size
		}).css('color', barColor);
		});
	  
		///////////////////////////////////////////
	
		//right & left position
		//show the user info on right or left depending on its position
		$('#user-profile-2 .memberdiv').on('mouseenter touchstart', function(){
			var $this = $(this);
			var $parent = $this.closest('.tab-pane');
	
			var off1 = $parent.offset();
			var w1 = $parent.width();
	
			var off2 = $this.offset();
			var w2 = $this.width();
	
			var place = 'left';
			if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) place = 'right';
			
			$this.find('.popover').removeClass('right left').addClass(place);
		}).on('click', function(e) {
			e.preventDefault();
		});
	
	
		///////////////////////////////////////////
		$('#user-profile-3')
		.find('input[type=file]').ace_file_input({
			style:'well',
			btn_choose:'Change avatar',
			btn_change:null,
			no_icon:'ace-icon fa fa-picture-o',
			thumbnail:'large',
			droppable:true,
			
			allowExt: ['jpg', 'jpeg', 'png', 'gif'],
			allowMime: ['image/jpg', 'image/jpeg', 'image/png', 'image/gif']
		})
		.end().find('button[type=reset]').on(ace.click_event, function(){
			$('#user-profile-3 input[type=file]').ace_file_input('reset_input');
		})
		.end().find('.date-picker').datepicker().next().on(ace.click_event, function(){
			$(this).prev().focus();
		})
		$('.input-mask-phone').mask('(999) 999-9999');
	
	
	
		////////////////////
		//change profile
		$('[data-toggle="buttons"] .btn').on('click', function(e){
			var target = $(this).find('input[type=radio]');
			var which = parseInt(target.val());
			$('.user-profile').parent().addClass('hide');
			$('#user-profile-'+which).parent().removeClass('hide');
		});
	});
	
	if(location.protocol == 'file:') alert("For uploading to server, you should access this page using 'http' protocal, i.e. via a webserver.");
	});
</script>#}