<style>
    img.editable{
        cursor: pointer;
        max-height: 100px;
        max-width: 100px;
    } 
    
    img.editable:hover {
        opacity: 0.75;
        filter: alpha(opacity=75);
    }
</style>
<div class="body-content animated fadeIn">
                  
                    <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4">
                            
                        <div class="panel rounded shadow">
                            <div class="panel-body">
                                <div class="inner-all">
                                    <ul class="list-unstyled">
                                        <li class="text-center">
                                          {%if app.user.id== usuario.id%}
                                          {{form_start(changeavatarform)}}
                                               <div class="form-group">
                                                   <div class="loading-spiner-holder" data-loadingspiner >
                                                    <div class="loading-spiner">
                                                        <i class="fa fa-spinner fa-4x fa-pulse"></i>
                                                    </div>
                                                    </div>
                                                <div class="fileinput fileinput-new" data-provides="fileinput" >
                                                    
                                                    <img id="avatar" class="fileinput-new img-circle img-bordered-primary editable" data-trigger="fileinput"  ng-src="{{'{{user.picture}}'}}" alt='img' data-pin-nopin="true" />
                                                    
                                                    
                                                    <div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput" style="width: 150px; height: 150px"></div>
                                                    <div>
                                                        
                                                        <button type="submit" class="btn btn-primary btn-file fileinput-exists" ><i class="fa fa-check"></i></button>
                                                        <span class="btn btn-primary btn-file hidden">
                                                            <span class="fileinput-exists">
                                                                </span>{{form_widget(changeavatarform.file)}}</span>
                                                        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i></a>
                                                    </div>
                                                </div>
                                               </div>
                                            {{form_end(changeavatarform)}} 
                                            {%else%}
                                                <img class=" img-circle img-bordered-primary " style="max-width: 200px;"  ng-src="{{asset(usuario.getWebPath())}}" alt='img' data-pin-nopin="true" />
                                            {%endif %}
                                        </li>
                                         
                                        <li class="text-center">
                                            <h4 class="text-capitalize">{{usuario.name}}</h4>
                                            <p class="text-muted text-capitalize">{{usuario.cargo}}</p>
                                        </li>
                                        <li>
                                            <a href="" class="btn btn-primary text-center btn-block">Cuenta PRO</a>
                                        </li>
                                        <li><br></li>
                                        <li>
                                            <div class="btn-group-vertical btn-block">
                                                {#<a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Editar Cuenta</a>#}
                                                <a data-ng-href="logout" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Cerrar Sesión</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.panel -->

                        <div class="panel panel-theme rounded shadow">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h3 class="panel-title">Contacto</h3>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-sm btn-info"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="btn btn-sm btn-info"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="btn btn-sm btn-info"><i class="fa fa-google-plus"></i></a>
                                </div>
                                <div class="clearfix"></div>
                                
                            </div><!-- /.panel-heading -->
                            <div class="panel-body no-padding rounded">
                                <ul class="list-group no-margin">
                                    <li class="list-group-item"><i class="fa fa-envelope mr-5"></i> {{usuario.email}}</li>
                                    <li class="list-group-item"><i class="fa fa-globe mr-5"></i> {{usuario}}</li>
                                    <li class="list-group-item"><i class="fa fa-phone mr-5"></i>
                                        {{usuario.telefono}}
                                        {% if estudiante %}
                                        {% elseif docente %}
                                        {{docente.docentetelefono}}
                                         {% endif %}   
                                    </li>
                                </ul>
                            </div><!-- /.panel-body -->
                        </div><!-- /.panel -->
                        
                            {#<div class="panel rounded shadow">
                                <div class="ribbon-wrapper">
                                    <div class="ribbon ribbon-primary"><i class="fa fa-star"></i> 7.8</div>
                                </div><!-- /.ribbon-wrapper -->
                                <div class="panel-body no-padding text-center">
                                    <img ng-src="{{asset(usuario.getWebPath())}}" alt="..." class="img-responsive br-t-3 full-width">
                                    <div class="inner-all block text-center mt-20 mb-20">
                                        <div class="rating rating-2x rating-primary mb-30">
                                            <span class="star"></span>
                                            <span class="star active"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                        </div><!-- /.rating -->
                                        <p class="text-muted">
                                            Puedes valorar al estudiante.
                                        </p>
                                    </div><!-- /.inner-all -->
                                </div><!-- /.panel-body -->
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <span class="text-muted">Valorado por: <br/></span>
                                        <img src="/multiacademico/web/uploads/documents/images/profile/male.png" alt="..." class="img-circle">
                                        <img src="/multiacademico/web/uploads/documents/images/profile/male.png" alt="..." class="img-circle">
                                        <img src="/multiacademico/web/uploads/documents/images/profile/male.png" alt="..." class="img-circle">
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-footer -->
                            </div><!-- /.panel -->#}
                        

                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8">

                    {#<div class="profile-cover">
                        <div class="cover rounded shadow no-overflow">
                            <div class="inner-cover">
                                <!-- Start offcanvas btn group menu: This menu will take position at the top of profile cover (mobile only). -->
                                <div class="btn-group cover-menu-mobile hidden-lg hidden-md">
                                    <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right no-border" role="menu">
                                        <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Reciente</span></a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Fotos</span> <small>(98)</small></a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Amigos </span><small>(23)</small></a></li>
                                        <li><a href="#"><i class="fa fa-fw fa-envelope"></i> <span>Mensajes</span> <small>(7 nuevos)</small></a></li>
                                    </ul>
                                </div>
                                <img src="/multiacademico/web/uploads/documents/images/profile/ef037a0b178f74814613db3b546522f912ed2b87 - copia.png" class="img-responsive full-width" alt="cover">
                            </div>
                            <ul class="list-unstyled no-padding hidden-sm hidden-xs cover-menu">
                                <li class="active"><a href="page-timeline.html"><i class="fa fa-fw fa-clock-o"></i> <span>Reciente</span></a></li>
                                <li><a href="page-profile.html"><i class="fa fa-fw fa-user"></i> <span>Acerca</span></a></li>
                                <li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Fotos</span> <small>(98)</small></a></li>
                                <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Amigos</span><small>(23)</small></a></li>
                                <li><a href="#"><i class="fa fa-fw fa-envelope"></i> <span>Mensajes</span> <small>(7 nuevos)</small></a></li>
                            </ul>
                        </div><!-- /.cover -->
                    </div><!-- /.profile-cover -->#}
                    <div class="profile-cover">
                        {{include('::adsense-responsive.html.twig')}}
                    </div>  
                    <div class="divider"></div>

					<div class="btn-group btn-group-justified">
						<span class="btn btn-app btn-sm btn-info no-hover">
							<span class="line-height-1 bigger-170 blue"> 1,411 </span>

							<br>
							<span class="line-height-1 smaller-90"> Visitas </span>
						</span>

						<span class="btn btn-app btn-sm btn-warning no-hover">
							<span class="line-height-1 bigger-170"> 32 </span>

							<br>
							<span class="line-height-1 smaller-90"> Seguidores </span>
						</span>

						<span class="btn btn-app btn-sm btn-primary no-hover">
							<span class="line-height-1 bigger-170"> 
                                                            {% if estudiante %}
                                                            {% elseif docente %}
                                                                {{docente.distributivos|length}}
                                                            {% endif %}    
                                                        </span>

							<br>
							<span class="line-height-1 smaller-90"> Materias </span>
						</span>

						<span class="btn btn-app btn-sm btn-success no-hover">
							<span class="line-height-1 bigger-170">
                                                            {% if estudiante %}
                                                                1
                                                            {% elseif docente %}
                                                                {{docente.distributivos|length}}
                                                            {% endif %}    </span>

							<br>
							<span class="line-height-1 smaller-90"> Cursos </span>
						</span>
					</div>
                                
                    <div class="divider"></div>
                    
                    <div class="panel rounded shadow">
                        <form action="...">
                            <textarea class="form-control input-lg no-border" rows="2" placeholder="¿En que estas pensando?"></textarea>
                        </form>
                        <div class="panel-footer">
                            <button class="btn btn-primary pull-right mt-5">PUBLICAR</button>
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-user"></i></a></li>
                                <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                                <li><a href="#"><i class="fa fa-camera"></i></a></li>
                                <li><a href="#"><i class="fa fa-smile-o"></i></a></li>
                            </ul><!-- /.nav nav-pills -->
                        </div><!-- /.panel-footer -->
                    </div><!-- /.panel -->
                    <div class="row">
                            <div class="panel panel-primary rounded shadow">
                                <div class="panel-heading no-border">
                                    <div class="pull-left half">
                                        <div class="media">
                                            <div class="media-object pull-left">
                                                <img ng-src="{{asset(usuario.getWebPath())}}"  alt="..." class="img-circle" style="max-width:50px">
                                            </div>
                                            <div class="media-body">
                                                {% if estudiante %}
                                                <a href="#" class="media-heading block mb-0 h4 text-white">Estudiante</a>
                                                {%elseif docente%}
                                                <a href="#" class="media-heading block mb-0 h4 text-white">Docente</a>
                                                {%else%}    
                                                <a href="#" class="media-heading block mb-0 h4 text-white">Administrativo</a>    
                                                {% endif %}
                                                <span class="text-white h6">{{'now'|date}}</span>
                                            </div>
                                        </div>
                                    </div><!-- /.pull-left -->
                                    <div class="pull-right">
                                        <a href="#" class="text-white h4"><i class="fa fa-heart"></i> 15.5K</a>
                                    </div><!-- /.pull-right -->
                                    <div class="clearfix"></div>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body no-padding">
                                    <div class="inner-all block">
                                        <h4>Datos Informativos</h4>
                                        <p>
                                             Detalle
                                        </p>
                                        {#<blockquote class="mb-10">Viaje recracional</blockquote>#}
                                        <table class="table">
                                        {% if estudiante %}
                                            <tr>
                                                {% if estudiante.getMatriculaVigente() %}
                                                <th>Aula</th>
                                                <td>{{estudiante.getMatriculaVigente().getAula()}}</td>
                                                {%else%}
                                                <th colspan="2">ESTUDIANTE NO MATRICULADO</th>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <th>Representante</th>
                                                <td>{{estudiante.representante}}</td>
                                            </tr>
                                            <tr>
                                                <th>Telefono Representante</th>
                                                <td>{{estudiante.representante.telefono}}</td>
                                            </tr>
                                        {%elseif docente%}
                                            
                                            <tr>
                                                <td colspan="2">
                                                    Distributivos<br/>
                                                    <table class="table">
                                                        <tr>
                                                            <th>Materia</th>
                                                            <th>Aula</th>    
                                                        </tr>    
                                                    {% for distributivo in docente.distributivos%}
                                                        <tr>
                                                            <td>{{distributivo.distributivocodmateria}}</td>
                                                            <td>{{distributivo.aula}}</td>
                                                        </tr>        
                                                    {%endfor%}
                                                    </table>
                                                </td>
                                            </tr>
                                        {%endif%}    
                                        </table>
                                    </div><!-- /.inner-all -->
                                    
                                </div><!-- /.panel-body -->
                               
                            </div><!-- /.panel -->
                        
                    </div>
                    </div>
                    </div><!-- /.row -->

</div>