{% block content -%}
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Usuarios', 'Resumen']" icon="user"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="{{path('layout-sub-header')}}"></div>
    </div>
    <div class="row">

    <table class="table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cargo</th>
                {#<th>Path</th>#}
                <th>Username</th>
                {#<th>Password</th>
                <th>Salt</th>#}
                <th>Email</th>
                {#<th>Theme</th>
                <th>Signature</th>
                <th>Signatureformat</th>
                <th>Created</th>
                <th>Access</th>
                <th>Login</th>
                <th>Status</th>
                <th>Timezone</th>
                <th>Language</th>
                <th>Picture</th>
                <th>Init</th>#}
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('secured_user_show', { 'id': entity.getId() }) }}">{{ entity.getId() }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.cargo }}</td>
                {#<td>{{ entity.path }}</td>#}
                <td>{{ entity.username }}</td>
                {#<td>{{ entity.password }}</td>#}
                {#<td>{{ entity.salt }}</td>#}
                <td>{{ entity.email }}</td>
                {#<td>{{ entity.theme }}</td>
                <td>{{ entity.signature }}</td>
                <td>{{ entity.signatureFormat }}</td>
                <td>{{ entity.created }}</td>
                <td>{{ entity.access }}</td>
                <td>{{ entity.login }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.timezone }}</td>
                <td>{{ entity.language }}</td>
                <td>{{ entity.picture }}</td>
                <td>{{ entity.init }}</td>#}
                <td>
                <ul>                    
                    
                    
                    
                    
                                                                                                            
                                             
                    <li>
                        <a href="{{ path('secured_user_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>                    
                    
                    
                    
                    
                                                                                                            
                                             
                    <li>
                        <a href="{{ path('secured_user_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="row">    
        <ul>
        <li>
            <a href="{{ path('secured_user_new') }}">
                Crear nueva entrada
            </a>
        </li>
    </ul>
        </div>
</div>    
{% endblock %}
