{% block content -%}
<div id="content">
    <div class="row">
    <div class=" col-md-12">

        <!-- Start inline form -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title"><i class="fa fa-file"></i> Distributivos Mostrar</h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-container="body" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-container="body" data-action="remove" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body ">

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Docente</th>
                <td>{{ entity.distributivocoddocente }}</td>
            </tr>
            <tr>
                <th>Curso</th>
                <td>{{ entity.distributivocodcurso }}</td>
            </tr>
            <tr>
                <th>Especializacion</th>
                <td>{{ entity.distributivocodespecializacion }}</td>
            </tr>
            <tr>
                <th>Paralelo</th>
                <td>{{ entity.distributivoparalelo }}</td>
            </tr>
            <tr>
                <th>Seccion</th>
                <td>{{ entity.distributivoseccion }}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{{ entity.distributivohora }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.distributivofecha }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.distributivoestado }}</td>
            </tr>
            
        </tbody>
    </table>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <ul class="record_actions">
    <li>
        <a href="{{ path('distributivos') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('distributivos_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </div>
</div>
{% endblock %}
