{% block content -%}
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Clubes', 'Resumen']" icon="file"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            </div>
    <div class="row">

    <table class="table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Club</th>
                <th>Clubabreviatura</th>
                <th>Clubestado</th>
                <th>Campoaccion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('proyectosescolares_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.club }}</td>
                <td>{{ entity.clubabreviatura }}</td>
                <td>{{ entity.clubestado }}</td>
                <td>{{ entity.campoaccion }}</td>
                <td class="text-center">
                    <a class="btn btn-primary" href="{{ path('proyectosescolares_show', { 'id': entity.id }) }}">Mostrar</a>
                    <a class="btn btn-warning" href="{{ path('proyectosescolares_edit', { 'id': entity.id }) }}">Editar</a>  
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
        <br/>
    <div class="row text-center" >   
        <a class="btn btn-info" href="{{ path('proyectosescolares_new') }}">
         Crear nueva entrada
        </a>        
    </div>
</div>    
{% endblock %}
