<div class="row">
                  {{ form_start(form) }}

                  <div class="row">
                        {# store the prototype on the data-prototype attribute #}
                        <table class="table table-striped" id="calificaciones-fields-list">
                            <thead class="thin-border-bottom">
                                <tr class="text-center center">
                                    <td colspan="5" style="vertical-align:middle">
                                        
                                        {{include('MultiacademicoBundle:Calificaciones:formularios/intercambiador.html.twig')}}
                                       
                                    </td>
                                    <td colspan="9">
                                        <a data-ui-sref="^">
                                            <button type="button" class="btn btn-primary "><i class="flaticon-a1 bigger-160"></i>Menu</button></a>
                                        
                                        {{form_widget(form.guardar)}}
                                        
                                            {#<a data-ng-click="openModal()" ng-href="{{'{{urlCalificacionesPrint()}}'}}" type="button" class="btn btn-app btn-warning "><i class="fa fa-print bigger-160"></i>Imprimir</a>#}
                                             
                                            <div class="btn-group">
                                            <a data-ng-click="openModal()" ng-href="{{'{{urlCalificacionesPrint()}}'}}" type="button" class="btn btn-app btn-warning" >
                                                <i class="fa fa-print"></i> Imprimir
                                            </a>
                                            <button type="button" class="btn btn-app btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>    
                                            <ul class="dropdown-menu" role="menu">
                                                  
                                                        <li>
                                                            <a ng-href="{{'{{urlCalificacionesPrint()}}'}}" data-ng-click="openModal()" target="_blank">Hoja Actual</a>
                                                        </li>
                                                        <li>
                                                            <a ng-href="{{'{{urlResumenCalificacionesQuimestrePrint()}}'}}" data-ng-click="openModalExpanded(urlResumenCalificacionesQuimestrePrint())" target="_blank">Resumen Quimestral</a>
                                                        </li>
                                                        <li>
                                                            <a ng-href="{{'{{urlResumenCalificacionesAnualPrint()}}'}}" data-ng-click="openModalExpanded(urlResumenCalificacionesAnualPrint())" target="_blank">Resumen Anual</a>
                                                        </li>
                                               
                                            </ul>
                                        </div>

                                    </td></tr>
                                <tr><td colspan="4"><b>Curso: </b>{{curso}}</td>
                                    <td colspan="10"><b>Materia: </b>{{materia}} </td> 

                                </tr>
                                <tr><td colspan="4"><b>Inicio del Parcial: </b>{{parcial.fechaInicio|localizeddate('medium', 'medium')}}</td>
                                    <td colspan="10"><b>Fin del Parcial: </b>{{parcial.fechaFin|localizeddate('medium', 'medium')}}</td> 
                                </tr>
                                <tr>
                                    <td colspan="4"><b>Fecha Maxima de Registro de Notas: </b>{{parcial.fechaMaximaDeRegistroDeNotas()|localizeddate('medium', 'medium')}}</td> 
                                    <td colspan="10"><b>Tiempo Restante para Calificar: </b>{{parcial.tiempoRestanteParaPasarNotas()}}</td> 
                                    
                                </tr>
                                 <tr>    
                                     <th colspan="14">{{parcial.text_quimestre()}}</th>
                                  </tr> 
                                  <tr>


                                        <th rowspan="2" style="width:4em">
                                                    <i class="ace-icon fa fa-file-text-o"></i>
                                                    Matricula
                                            </th>
                                            <th rowspan="2">
                                                    <i class="ace-icon flaticon-student"></i>	
                                                    Estudiante
                                            </th>

                                                  <th colspan="6" class="text-center">{{parcial.textalt_parcial()}}</th>
                                                  {% if pactivo==3 %}
                                                  <th colspan="5" class="text-center hidden-480">Totales del Parcial</th>										
                                                  {% endif%}
                                           </tr>

                                                {%if qactivo<3%}
                                                    <tr class="rotar-texto"><th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">Tareas<br>Investigaciones</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">Actividades Individuales</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">Actividades<br>Grupales</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">&nbsp;&nbsp;&nbsp;Lecciones</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">EVALUACION SUMATIVA</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">&nbsp;&nbsp;&nbsp;PROMEDIO</div></th>
                                                    {% if pactivo==3 %}
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">PROMEDIO PARCIALES</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">&nbsp;&nbsp;&nbsp;PROMEDIO&nbsp;80%</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">&nbsp;&nbsp;&nbsp;EXAMEN</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">&nbsp;&nbsp;&nbsp;EXAMEN&nbsp;20%</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">&nbsp;&nbsp;&nbsp;NOTA&nbsp;QUIMESTRE</div></th>
                                                    {%endif%}
                                                {%endif%}
                                                {%if qactivo==3%}
                                                    <tr class="rotar-texto"><th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">PROMEDIO <br>ANUAL</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">MEJORAMIENTO</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">SUPLEROTRIO</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">REMEDIAL</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">GRACIA</div></th>
                                                    <th class="rotar-texto" style="vertical-align:bottom"><div class="letterP4">&nbsp;&nbsp;PROMEDIO&nbsp;FINAL</div></th>
                                                {%endif%}
                                            </tr>


                            </thead>
                            <tbody>
                            {%for calificacion in form.calificaciones %}
                                
                                <tr>
                                    <td>
                                         {%set nummat=listado[loop.index0].calificacionnummatricula.id %}    
                                         
                                        
                                        
                                          {{nummat }}
                                     </td>  
                                     {%set ptareas= listado[loop.index0].calificacionnummatricula.getPromedioTareasInvestigacionesPeriodo(distributivoid,parcial.fechaInicio,parcial.fechaFin) %}
                                     {%set pactividadindividual= listado[loop.index0].calificacionnummatricula.getPromedioActividadesIndividualesPeriodo(distributivoid,parcial.fechaInicio,parcial.fechaFin) %}
                                     {%set pactividadgrupal= listado[loop.index0].calificacionnummatricula.getPromedioActividadesGrupalesPeriodo(distributivoid,parcial.fechaInicio,parcial.fechaFin) %}
                                     {%set plecciones= listado[loop.index0].calificacionnummatricula.getPromedioLeccionesPeriodo(distributivoid,parcial.fechaInicio,parcial.fechaFin) %}
                                     {%set ptareasvar='M'~nummat~'tareas' %}
                                     {%set pactividadindividualvar='M'~nummat~'aindiv' %}
                                     {%set pactividadgrupalvar='M'~nummat~'agrup' %}
                                     {%set pleccionesvar='M'~nummat~'lecciones'  %}
                                     
                                     <td>
                                     <div class="tooltips" data-tooltip data-toggle="tooltip" data-placement="top" title="-- Resumen de Actividad -- Tareas: {{ptareas}} | Individual: {{pactividadindividual}} |  Grupal: {{pactividadgrupal}} | Lecciones: {{plecciones}}">
                                            {{listado[loop.index0].calificacionnummatricula }}
                                     </div>
                                     
                                      {%set notares='M'~nummat~'q'~qactivo~'P'~pactivo~'N' %}
                                         {%set promediopv='PM'~nummat~'q'~qactivo~'P'~pactivo %}
                                         {%set promediopt='PPTM'~nummat~'q'~qactivo %}
                                        {%set promediopt80='PPT80M'~nummat~'q'~qactivo %}
                                        {%set ppval=listado[loop.index0].getPromedioParcial(qactivo,pactivo)%}
                                        {%set pptval=listado[loop.index0].getPromedioParciales(qactivo)%}
                                        {%set promediopv='PM'~nummat~'q'~qactivo~'P'~pactivo %}
                                        {%set exvar='q'~qactivo~'Ex' %}
                                        {%set exres='M'~nummat~exvar%}
                                        {%set exres20=exres~'V20'%}
                                        {%set promedioqv='PQ'~nummat~'q'~qactivo %}  
                                     
                                     {%set notavartareas='M'~nummat~'q'~qactivo~'P'~pactivo~'N1'%}
                                     {%set notavaraindiv='M'~nummat~'q'~qactivo~'P'~pactivo~'N2'%}
                                     {%set notavaragrup='M'~nummat~'q'~qactivo~'P'~pactivo~'N3'%}
                                     {%set notavarlecciones='M'~nummat~'q'~qactivo~'P'~pactivo~'N4'%}
                                     <div data-ng-init="{{ptareasvar}}={{ptareas}};
                                                        {{pactividadindividualvar}}={{pactividadindividual}};
                                                        {{pactividadgrupalvar}}={{pactividadgrupal}};
                                                        {{pleccionesvar}}={{plecciones}};">
                                     </div>
                                     {% if (parcial.estaDentroDelPeriodo() or app.user.tieneAutorizacionVigente(qactivo,pactivo))%}
                                     <a data-ng-click="{{notavartareas}}={{ptareasvar}};
                                        {{notavaraindiv}}={{pactividadindividualvar}};
                                        {{notavaragrup}}={{pactividadgrupalvar}};
                                        {{notavarlecciones}}={{pleccionesvar}};
                                        {{promediopv~'=((('~notares~'1+'~
                                                            notares~'2+'~
                                                            notares~'3+'~
                                                            notares~'4+'~    
                                                            notares~'5)/5)|number:2);'~
                                             promediopt~'=(('~(pptval-(ppval/3))~'*1+'~promediopv~'/3)|number:2);'~
                                             promediopt80~'=(('~promediopt~'*0.8)|number:2);'~
                                             promedioqv~'=('~exres20~'*1+1*'~promediopt80~');'}}
                                        
                                        " class="btn btn-danger tooltips"
                                        data-tooltip data-toggle="tooltip" data-placement="top" title="-- Usar Notas de Actividad Academica -- Tareas: {{ptareas}} | Individual: {{pactividadindividual}} |  Grupal: {{pactividadgrupal}} | Lecciones: {{plecciones}}"
                                        >
                                        <i class="fa fa-arrow-right"></i>
                                     </a>  
                                           
                                     </td>
                                     {%endif%}
                                     {% if qactivo<3 %}
                                          
                                         {%for i in 1..5%}
                                         <td>
                                            <div style="display:flex">
                                             {%set notavar='q'~qactivo~'P'~pactivo~'N'~i %}
                                            {{ form_errors(calificacion[notavar]) }}
                                            {{ form_widget(calificacion[notavar],{'attr':
                                                                                        {'ng-model':'M'~nummat~notavar,
                                                                                         'ng-init':'M'~nummat~notavar~'='~(calificacion[notavar].vars.value|replace(',','.')),
                                                                                         'ng-change':promediopv~'=((('~notares~'1+'~
                                                                                                                    notares~'2+'~
                                                                                                                    notares~'3+'~
                                                                                                                    notares~'4+'~    
                                                                                                                    notares~'5)/5)|number:2);'~
                                                                                                     promediopt~'=(('~(pptval-(ppval/3))~'*1+'~promediopv~'/3)|number:2);'~
                                                                                                     promediopt80~'=(('~promediopt~'*0.8)|number:2);'~
                                                                                                     promedioqv~'=('~exres20~'*1+1*'~promediopt80~');'   

                                                                                        }
                                                                                  })
                                             }}
                                            </div>
                                              
                                        </td>
                                        {%endfor%}
                                        <td data-ng-init="{{promediopv}}={{ppval}}">
                                            {{'{{'}}{{promediopv}}{{'}}'}} 
                                        </td>
                                        {% if pactivo==3 %}

                                        <td data-ng-init="{{promediopt}}={{pptval}}">
                                               {{'{{'}}{{promediopt}}{{'}}'}}
                                        </td>
                                        <td data-ng-init="{{promediopt80}}=({{promediopt}}*0.8|number:2)">
                                               {{'{{'}}{{promediopt80}}{{'}}'}}
                                        </td>

                                        <td>

                                            {{ form_widget(calificacion[exvar],
                                                    {'attr':    {'ng-model':exres,
                                                                 'ng-init':exres~'='~(calificacion[exvar].vars.value|replace(',','.')),
                                                                 'ng-change':exres20~'='~exres~'*0.2;'~promedioqv~'='~exres20~'*1+1*'~promediopt80~';'
                                                                }
                                                        })
                                            }} 
                                        </td>
                                        <td data-ng-init="{{exres20}}={{exres}}*0.2">
                                            {{'{{'}}{{exres20}}{{'|number:2}}'}}
                                        </td>
                                        <td data-ng-init="{{promedioqv}}={{listado[loop.index0].getPromedioQuimestre(qactivo)}}">
                                            {{'{{'}}{{promedioqv}}{{'|number:2}}'}}
                                        </td>
                                        {% endif %}
                                    {%endif%}
                                    {% if qactivo==3 %}
                                        {%set mejorares='M'~nummat~'mejoramiento'%}
                                        {%set supletoriores='M'~nummat~'supletorio'%}
                                        {%set remedialres='M'~nummat~'remedial'%}
                                        {%set graciares='M'~nummat~'gracia'%}
                                        {%set pq1val=listado[loop.index0].getPromedioQuimestre(1)%}
                                        {%set pq2val=listado[loop.index0].getPromedioQuimestre(2)%}
                                        {%set promedioav='PA'~nummat %} 
                                        
                                        {%set paval=listado[loop.index0].getPromedioAnual()%}
                                        {%set promediofv='PF'~nummat %}    
                                    <td data-ng-init="{{promedioav}}={{paval}}">
                                               {{'{{'}}{{promedioav}}{{'|number:2}}'}}
                                        </td>    
                                    <td>
                                        {#'ng-change':promediofv~'='~pq1val~'*1+'~pq2val~'*1+'~mejorares~'*1+'~supletoriores~'*1+'~remedialres~'*1+'~graciares~'*1;'#}
                                        {{ form_widget(calificacion['mejoramiento'],
                                                {'attr':    {'ng-model':mejorares,
                                                             'ng-init':mejorares~'='~(calificacion['mejoramiento'].vars.value|replace(',','.')),
                                                             'ng-change':promediofv~'=promediofinal('~
                                                                                        pq1val~','~
                                                                                        pq2val~','~
                                                                                        mejorares~','~
                                                                                        supletoriores~','~
                                                                                        remedialres~','~
                                                                                        graciares~')|number:2'
                                                             
                                                            }
                                                    })
                                        }}
                                    </td>     
                                    <td>     
                                        {{ form_widget(calificacion['supletorio'],
                                                {'attr':    {'ng-model':supletoriores,
                                                             'ng-init':supletoriores~'='~(calificacion['supletorio'].vars.value|replace(',','.')),
                                                             'ng-change':promediofv~'=promediofinal('~
                                                                                        pq1val~','~
                                                                                        pq2val~','~
                                                                                        mejorares~','~
                                                                                        supletoriores~','~
                                                                                        remedialres~','~
                                                                                        graciares~')|number:2'
                                                            }
                                                    })
                                        }}
                                    </td>     
                                    <td>     
                                        {{ form_widget(calificacion['remedial'],
                                                {'attr':    {'ng-model':remedialres,
                                                             'ng-init':remedialres~'='~(calificacion['remedial'].vars.value|replace(',','.')),
                                                             'ng-change':promediofv~'=promediofinal('~
                                                                                        pq1val~','~
                                                                                        pq2val~','~
                                                                                        mejorares~','~
                                                                                        supletoriores~','~
                                                                                        remedialres~','~
                                                                                        graciares~')|number:2'
                                                            }
                                                    })
                                        }}
                                    </td>     
                                    <td>     
                                        {{ form_widget(calificacion['gracia'],
                                                {'attr':    {'ng-model':graciares,
                                                             'ng-init':graciares~'='~(calificacion['gracia'].vars.value|replace(',','.')),
                                                             'ng-change':promediofv~'=promediofinal('~
                                                                                        pq1val~','~
                                                                                        pq2val~','~
                                                                                        mejorares~','~
                                                                                        supletoriores~','~
                                                                                        remedialres~','~
                                                                                        graciares~')|number:2'
                                                            }
                                                    })
                                        }}
                                    </td>
                                    <td data-ng-init="{{promediofv}}={{listado[loop.index0].getPromedioFinal()}}">
                                            {{'{{'}}{{promediofv}}{{'|number:2}}'}}
                                        </td>
                                    {%endif%}    
                                </tr>    
                            {%endfor%}    
                            </tbody>
                        </table>


                            </div >
                        {# ... #}
                    {{ form_end(form) }}

              </div>
