{% block content -%}
<div id="content">
    <div class="row">
        <div class=" col-md-12">

            <!-- Start inline form -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title"><i class="flaticon-signature2"></i> Listado de pensiones Resumen</h3>
                    </div>
                    <div class="pull-right">
                        <button data-tooltip data-collapse-panel class="btn btn-sm" data-container="body" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                        <button data-tooltip data-remove-panel class="btn btn-sm" data-container="body" data-action="remove" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-body ">

                    <table class="table records_list">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Representante</th>
                                <th>Mes</th>
                                <th>Fecha de vencimiento</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                {% if entity.idproducto.tipo == "Pension" %}
                                <tr>
                                    <td><a href="#">{{ entity.id }}</a></td>
                                    <td>{{ entity.idfactura.idcliente }}</td>
                                    <td>{{ entity.idproducto }}</td>
                                    <td>{{ entity.idfactura.vencimiento.format("Y-m-d")}}</td>
                                    <td>
                                        <ul>
                                            <li><a href="#">Ver</a></li>
                                            <li><a href="#">Editar</a></li>
                                            <li><a href="{{ path('pensiones_download', {'id': entity.idfactura.id}) }}" target="_blank">TXT Banco</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                {% endif%}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul>
            <li>
                <a>
                    Crear nueva entrada
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
