{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actividad Academica presentar</h1>
    <table class="table">
            <tr>
                <th>Materia</th>
                <td>{{ actividadAcademicaDetalle.actividad.distributivo.distributivocodmateria }}</td>
            </tr>
            <tr>
                <th>Enviada Por</th>
                <td>{{ actividadAcademicaDetalle.actividad.sendBy }}</td>
            </tr>
            
            <tr>
                <th>Tipo</th>
                <td>{{ actividadAcademicaDetalle.actividad.tipo }}</td>
            </tr>
            <tr>
                <th>Tema</th>
                <td>{{ actividadAcademicaDetalle.actividad.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ actividadAcademicaDetalle.actividad.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha Maxima de Entrega</th>
                <td>{% if actividadAcademicaDetalle.actividad.fechaEntrega %}{{ actividadAcademicaDetalle.actividad.fechaEntrega|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
         <tr>
             <td colspan="2">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Presentar" />
    {{ form_end(edit_form) }}
    </td>
    </tr>
           </table>   
    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('misactividadesacademicas') }}">Regresar a la lista</a>
        </li>
        {#<li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>#}
    </ul>
{% endblock %}
