{% block content -%}
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Estudiantes', 'Mostrar']" icon="file" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            </div>
    
        <div  class="record_actions" style="display:-webkit-box;">
            <a class="btn btn-success" href="{{ path('estudiantes') }}">
            Regresar a la lista
            </a>
            <a class="btn btn-primary" href="{{ path('estudiantes_edit', { 'id': entity.id }) }}">
                Editar
            </a>                
            {{ form_start(delete_form) }}
             {{ form_widget(delete_form.submit,{'attr':{'class':'btn-danger'} }) }}                       
            {{ form_end(delete_form) }}                
        </div>

    <br/>
    <div class="row">
    
<div class="col-xs-6">

<!-- Start team table -->
<div class="panel">
    <div class="panel-body no-padding">
        <div class="table-responsive" style="margin-top: -1px;">
            <table class="table table-primary">
                <thead>
                <tr>
                    <th align="center" colspan="2" style="background-color:#dddddd;text-alig:center" >Datos del Estudiante</th>
                </tr>
                </thead>
                <tbody>
            <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ entity.estudianteCedula }}</td>
            </tr>
            
            <tr>
                <th>Nombre</th>
                <td>{{ entity.estudiante }}</td>
            </tr>
            <tr>
                <th>Fecha de Nacimiento</th>
                <td>{{ entity.estudianteFechanacimiento|date('d-M-Y') }}</td>
            </tr>
            <tr>
                <th>Nacionalidad</th>
                <td>{{ entity.estudianteNacionalidad }}</td>
            </tr>
            <tr>
                <th>>Lugar de Nacimiento</th>
                <td>{{ entity.estudianteLugarnacimiento }}</td>
            </tr>
            <tr>
                <th>Provincia N.</th>
                <td>{{ entity.estudianteProvinciaN }}</td>
            </tr>
            <tr>
                <th>Canton N.</th>
                <td>{{ entity.estudianteCantonN }}</td>
            </tr>
            <tr>
                <th>Parroquia N.</th>
                <td>{{ entity.estudianteParroquiaN }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ entity.estudianteDomicilio }}</td>
            </tr>
            <tr>
                <th>Provincia D.</th>
                <td>{{ entity.estudianteProvinciaD }}</td>
            </tr>
            <tr>
                <th>Canton D.</th>
                <td>{{ entity.estudianteCantonD }}</td>
            </tr>
            <tr>
                <th>Parroquia D.</th>
                <td>{{ entity.estudianteParroquiaD }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ entity.estudianteGenero }}</td>
            </tr>
            <tr>
                <th>Discapacidad</th>
                <td>{{ entity.estudianteDiscapacidad }}</td>
            </tr>
            <tr>
                <th>Conae</th>
                <td>{{ entity.estudianteConae }}</td>
            </tr>
            <tr>
                <th>Etnia</th>
                <td>{{ entity.estudianteEtnia }}</td>
            </tr>
            <tr>
                <th>Plantel</th>
                <td>{{ entity.estudiantePlantel }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ entity.estudianteCorreo }}</td>
            </tr>
            <tr>
                <th>Carnet</th>
                <td>{{ entity.estudianteCarnet }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ entity.estudianteFoto }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estudianteEstado }}</td>
            </tr>
            <tr>
                <th>Numero de Acta</th>
                <td>{{ entity.estudianteNumeroacta }}</td>
            </tr>
    </tbody>
</table>
</div>
</div>      
</div>
</div>
 <div class="col-xs-6">

<!-- Start team table -->
<div class="panel">
    <div class="panel-body no-padding">
        <div class="table-responsive" style="margin-top: -1px;">
            <table class="table table-primary">
                <thead>
                <tr>
                    <th align="center" colspan="2" style="background-color:#dddddd;text-alig:center" >Datos Maternos</th>
                </tr>
                </thead>
                <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.madre }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ entity.madreCedula }}</td>
            </tr>
            <tr>
                <th>Estado Civil</th>
                <td>{{ entity.madreEstadocivil }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.madreTelefono }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ entity.madreDomicilio }}</td>
            </tr>
            <tr>
                <th>Bono</th>
                <td>{{ entity.madreBono }}</td>
            </tr>
    </tbody>
</table>
</div>
</div>      
</div>

<!-- Start team table -->
<div class="panel">
    <div class="panel-body no-padding">
        <div class="table-responsive" style="margin-top: -1px;">
            <table class="table table-primary">
                <thead>
                <tr>
                    <th align="center" colspan="2" style="background-color:#dddddd;text-alig:center" >Datos Paternos</th>
                </tr>
                </thead>
                <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.padre }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ entity.padreCedula }}</td>
            </tr>
            <tr>
                <th>Estado Civil</th>
                <td>{{ entity.padreEstadocivil }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.padreTelefono }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ entity.padreDomicilio }}</td>
            </tr>
    </tbody>
</table>
</div>
</div>      
</div>
            
 <!-- Start team table -->
<div class="panel">
    <div class="panel-body no-padding">
        <div class="table-responsive" style="margin-top: -1px;">
            <table class="table table-primary">
                <thead>
                <tr>
                    <th align="center" colspan="2" style="background-color:#dddddd;text-alig:center" >Datos del Repressentante</th>
                </tr>
                </thead>
                <tbody>
 <tr>
                <th>Cedula</th>
                <td>{{ entity.representanteCedula }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.representante }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ entity.representanteDomicilio }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.representanteTelefono }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.representanteTipo }}</td>
            </tr>
    </tbody>
</table>
</div>
</div>      
</div>           
</div> 
            <div class="col-md-12">

<!-- Start team table -->
<div class="panel">
    <div class="panel-heading">
        <div class="clearfix"></div>
    </div><!-- /.panel-heading -->
    <div class="panel-body no-padding">
        <div class="table-responsive" style="margin-top: -1px;">
            <table class="table table-primary">
                <thead>
                <tr>
                    <th align="center" colspan="2" style="background-color:#dddddd;text-alig:center" >Datos del Sistema</th>
                </tr>
                </thead>
                <tbody>
                        <tr>
                <th>Username</th>
                <td>{{ entity.usuario.username|default('ESTUDIANTE NO TIENE USUARIO ASIGNADO')}}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>Actualizada</td>
            </tr>
            
            
            <tr>
                <th>Creado</th>
                <td> {%if entity.usuario is not null%}
                    {{ entity.usuario.created|date('d-M-Y H:i:s') }}
                    {%endif%}
                </td>
            </tr>
            {#<tr>
                <th>Access</th>
                <td>{{ entity.access }}</td>
            </tr>
            <tr>
                <th>Last Login</th>
                <td>{{ entity.lastlogin }}</td>
            </tr>
            <tr>
                <th>Last Activity</th>
                <td>{{ entity.lastactivity }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>#}
            {#<tr>
                <th>Picture</th>
                <td>{{ entity.picture }}</td>
            </tr>
            <tr>
                <th>Init</th>
                <td>{{ entity.init }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ entity.data }}</td>
            </tr>#}
            
    </tbody>
</table>
</div>
</div>      
</div> 
    </div>


            

    </div>   <!-- Final del row -->
   </div>  
{% endblock %}
