{% block select2_widget %}
    {% spaceless %}
      {% set attr = attr|merge({class: (attr.class|default('') ~ '')|trim}) %}
            {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
                {% set required = false %}
            {%- endif -%}
            <select data-smart-select2 {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} style="width:100%">
                {%- if placeholder is not none -%}
                    <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? placeholder|trans({}, translation_domain) }}</option>
                {%- endif -%}
                {%- if preferred_choices|length > 0 -%}
                    {% set options = preferred_choices %}
                    {{- block('choice_widget_options') -}}
                    {%- if choices|length > 0 and separator is not none -%}
                        <option disabled="disabled">{{ separator }}</option>
                    {%- endif -%}
                {%- endif -%}
                {%- set options = choices -%}
                {{- block('choice_widget_options') -}}
            </select>
    {% endspaceless %}
{% endblock select2_widget %}
{% block users_widget %}
    {{- block('select2_widget') -}}
{% endblock users_widget %}