{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
 
    <link data-ng-href="{{asset('css/compiled/pages/sign.css')}}" rel="stylesheet">
 
    <!-- Login form -->
<form class="sign-in form-horizontal shadow rounded no-overflow"  action="{{ path("fos_user_security_check") }}" id="login-form"  method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% if error %}
    
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    
    {% endif %}
    <div class="sign-header">
        <div class="form-group">
            <div class="sign-text">
                <span>Ingreso a Multiacademico</span>
            </div>
        </div><!-- /.form-group -->
    </div><!-- /.sign-header -->
    <div class="sign-body">
        <div class="form-group">
            <div class="input-group input-group-lg rounded no-overflow">
                {#{{ 'security.login.username'|trans }}<input type="text" class="form-control input-sm" placeholder="Username or email " name="username">#}
                <input type="text" class="form-control input-sm" placeholder="{{ 'security.login.username'|trans }}" id="username" name="_username" value="{{ last_username }}" required="required" />
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
            </div>
        </div><!-- /.form-group -->
        <div class="form-group">
            <div class="input-group input-group-lg rounded no-overflow">
                {#<input type="password" class="form-control input-sm" placeholder="Password" name="password">#}
                <input type="password" class="form-control input-sm" placeholder="{{ 'security.login.password'|trans }}" id="password" name="_password" required="required" />
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            </div>
        </div><!-- /.form-group -->
    </div><!-- /.sign-body -->
    <div class="sign-footer">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <div class="ckbox ckbox-theme">
                        <input id="rememberme" type="checkbox" name="_remember_me" checked="">
                        <label for="rememberme" class="rounded">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <a data-ng-href="#/lost-password" title="lost password">Olvido su contraseña?</a>
                </div>
            </div>
        </div><!-- /.form-group -->
        <div class="form-group">
            {#<button type="submit" class="btn btn-theme btn-lg btn-block no-margin rounded" id="login-btn">Login</button>#}
            <input  type="submit" class="btn btn-theme btn-lg btn-block no-margin rounded" id="login-btn" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            
        </div><!-- /.form-group -->
    </div><!-- /.sign-footer -->
</form><!-- /.form-horizontal -->
<!--/ Login form -->
{% endblock fos_user_content %}