{% extends app.request.isXmlHttpRequest ? '::basesimple.html.twig' : '::base.html.twig' %}
{% block body -%}
<script>
    var promediosDeEsteCurso=[];
</script>
<div class="modal-header noprint">
	<button type="button" class="close" ng-click="closeModal()" data-dismiss="modal" aria-hidden="true">
		&times;
	</button>
        <h4 class="modal-title" id="myModalLabel">
        <img src="{{entidad.logoUrl}}" height="100" alt="Logotipo" />
        Calificaciones
        </h4>
        <div class="text-align-right" style="text-align: right!important;">
        <a id="imprimirmodal" class="btn btn-primary" onclick="window.print();">Imprimir</a>
        </div>
</div>

<div id="remoteModalCalificaciones" class="modal-body ">
    
<table border="0" width="630" cellpadding="0" cellspacing="0" style="margin-left:auto;margin-right:auto">
    <tbody><tr><td>
                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        
                        <tr style="text-align: center;">
                        <td>
                    
                        <span style="font-size:15.0pt;font-family:Tahoma;color:#000000"><b>{{entidad.entidad}}<br> "{{entidad.titulo}}"</b></span>
                        </td>
                        </tr>
                        <tr style="text-align: center;">
                        <td>
                    
                        <span style="font-size:10.0pt;font-family:Tahoma;color:#000000"><b>Periodo Lectivo {{periodo.periodo}}</b></span>
                        </td></tr>
                        <tr style="text-align: center;">
                            <td>
                            <span style="font-size:10.0pt;font-family:Tahoma;color:#000000"><b>Reporte de Calificaciones</b></span>
                            </td>
                        </tr></tbody>
</table>
    <table border="0" width="100%" cellpadding="1" cellspacing="1">
        <tbody><tr height="5"><td></td></tr></tbody>
    </table>
    
        <table border="0" width="630" cellpadding="1" cellspacing="1" bgcolor="FFFFFF">
            <tbody><tr height="20" bgcolor="FFFFFF">
                    <td width="57"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>Mes</b></span></td>
                    <td><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>:</b></span></td></tr>
            </tbody>
        </table>
    
    
        <table border="0" width="630" cellpadding="1" cellspacing="1" bgcolor="000000">
            <tbody>
                <tr height="20" bgcolor="FFFFFF">
                    <td width="60"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>Curso </b></span></td>
                    <td><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b> {{curso}} </b></span></td>
                    <td width="70"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>Materia</b></span></td>
                    <td width="225"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>{{materia}}</b></span></td></tr>
                <tr height="20" bgcolor="FFFFFF">
                    <td width="60"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>Docente </b></span></td>
                    <td><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b> {{docente}}</b></span></td>
                    <td width="70"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>{{parcial.text_parcial()}}</b></span></td>
                    <td width="225"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>{{parcial.text_quimestre()}}</b></span></td></tr>
            </tbody>
                        </table>
            
                <table border="1" width="100%" cellpadding="1" cellspacing="0" bgcolor="000000">
                    <tbody>
                        <tr height="30" bgcolor="FFFFFF">
                            <th rowspan="2"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>No.</b></span></th>
                                      <th rowspan="2"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>Matr.</b></span></th>
                                      <th rowspan="2"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>Apellidos y Nombres</b></span></th>
                                      {%if pactivo<4 and qactivo<3 %}
                                      <th colspan="4"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>EVALUACIÓN FORMATIVA</b></span></th>
                                      <th width="35" bgcolor="FFFFFF" rowspan="2"><img src="{{asset('bundles/multiacademico/img/text_ev.png')}}" border="0"></th>
                                      <th width="35" bgcolor="FFFFFF" rowspan="2"><img src="{{asset('bundles/multiacademico/img/text_pr.png')}}" border="0"></th>
                                      <th rowspan="2" width="35" bgcolor="FFFFFF"><img src="{{asset('bundles/multiacademico/img/text_cl.png')}}" border="0"></th>
                        </tr>
                                      <tr><td width="35" bgcolor="FFFFFF"><img src="{{asset('bundles/multiacademico/img/text_ti.png')}}" border="0"></td>
                                      <td width="35" bgcolor="FFFFFF"><img src="{{asset('bundles/multiacademico/img/text_ai.png')}}" border="0"></td>
                                      <td width="35" bgcolor="FFFFFF"><img src="{{asset('bundles/multiacademico/img/text_ag.png')}}" border="0"></td>
                                      <td width="35" bgcolor="FFFFFF"><img src="{{asset('bundles/multiacademico/img/text_lc.png')}}" border="0"></td>
                                     </tr>
                                      {%elseif pactivo==4 and qactivo<3 %}
                                         <th colspan=4><span style='font-size:8.0pt;font-family:Tahoma;color:000000'><b>PROMEDIO PARCIALES</b></span></th>
                                           <th width=35 bgcolor=FFFFFF rowspan=2><img src="{{asset('bundles/multiacademico/img/text_pr_pa_80.png')}}" border=0></th>
                                           <th width=35 bgcolor=FFFFFF rowspan=2><img src="{{asset('bundles/multiacademico/img/text_ex.png')}}" border=0></th>
                                           <th width=35 bgcolor=FFFFFF rowspan=2><img src="{{asset('bundles/multiacademico/img/text_ex_20.png')}}" border=0></th>
                                           <th rowspan=2 width=35 bgcolor=FFFFFF><img src="{{asset('bundles/multiacademico/img/text_pr_100.png')}}" border=0></th>
                                           <th rowspan=2 width=35 bgcolor=FFFFFF><img src="{{asset('bundles/multiacademico/img/text_cl.png')}}" border=0></th></tr>


                                          <tr>
                                          <td width=35 bgcolor=FFFFFF><div style='font-size:8.0pt;font-family:Tahoma;color:#000000;-ms-transform:rotate(270deg);-moz-transform:rotate(270deg);-webkit-transform:rotate(270deg);-o-transform:rotate(270deg)'>Primer Parcial</div></td>
                                          <td width=35 bgcolor=FFFFFF><div style='font-size:8.0pt;font-family:Tahoma;color:#000000;-ms-transform:rotate(270deg);-moz-transform:rotate(270deg);-webkit-transform:rotate(270deg);-o-transform:rotate(270deg)'>Segundo Parcial</div></td>
                                          <td width=35 bgcolor=FFFFFF><div style='font-size:8.0pt;font-family:Tahoma;color:#000000;-ms-transform:rotate(270deg);-moz-transform:rotate(270deg);-webkit-transform:rotate(270deg);-o-transform:rotate(270deg)'>Tercer Parcial</div></td>
                                          <td width=35 bgcolor=FFFFFF><img src="{{asset('bundles/multiacademico/img/text_pr_pa.png')}}" border=0></td>
                                          </tr>
                                        {%elseif qactivo==3%}  
                                            <th colspan=2><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'><b>PROMEDIO QUIMESTRES</b></span></th>
                                            <th colspan=8><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'><b>RESUMEN ANUAL</b></span></th>

                                           <tr style='text-align:center'>
                                           <td width=35 bgcolor=FFFFFF><span style='font-size:6.0pt;font-family:Tahoma;color:#000000'><b>Primer Quimestre</b></span></td>
                                        {#<td width=35 bgcolor=FFFFFF><span style='font-size:6.0pt;font-family:Tahoma;color:#000000'><b>Cualitativa</b></span></td>#}
                                          <td width=35 bgcolor=FFFFFF><span style='font-size:6.0pt;font-family:Tahoma;color:#000000'><b>Segundo Quimestre</b></span></td>
                                        {#<td width=35 bgcolor=FFFFFF><span style='font-size:6.0pt;font-family:Tahoma;color:#000000'><b>Cualitativa</b></span></td>#}
                                          <td width=35 bgcolor=FFFFFF><span style='font-size:7.0pt;font-family:Tahoma;color:#000000'><b>{{parcial.text_quimestre()}}</b></span></td>
                                          <td width=35 bgcolor=FFFFFF><span style='font-size:6.0pt;font-family:Tahoma;color:#000000'><b>Cualitativa</b></span></td>
                                          <td width=35 bgcolor=FFFFFF><span style='font-size:7.0pt;font-family:Tahoma;color:#000000'><b>Ex. Mejor.</b></span></td>
                                          <td width=35 bgcolor=FFFFFF><span style='font-size:7.0pt;font-family:Tahoma;color:#000000'><b>Ex. Suplet.</b></span></td>
                                          <td width=35 bgcolor=FFFFFF><span style='font-size:7.0pt;font-family:Tahoma;color:#000000'><b>Ex. Remed.</b></span></td>
                                          <td width=35 bgcolor=FFFFFF><span style='font-size:6.0pt;font-family:Tahoma;color:#000000'><b>EXAMEN DE GRACIA</b></span></td>
                                          <td width=35 bgcolor=FFFFFF><span style='font-size:7.0pt;font-family:Tahoma;color:#000000'><b>PROMEDIO FINAL</b></span></td>
                                          <td width=35 bgcolor=FFFFFF><span style='font-size:7.0pt;font-family:Tahoma;color:#000000'><b>ESTADO</b></span></td>
                                          </tr>
                                        {%endif%}
                                    
                                     {%set c, sumpp,sumpq,sumpf,promediocurso=0,0,0,0,0%}
                                     
                                     {%for estudiante in listado%}
                                     {%set c=c+1%}
                                     <tr bgcolor="{{(c+2)%2?'FFFFFF':'F1EFE2'}}" height="20">
                                         <td width="15"  style="text-align: center"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">{{c}}</span></td>
                                         <td width="40"  style="text-align: center"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">{{estudiante.calificacionnummatricula.id}}</span></td>
                                         <td ><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">{{estudiante.calificacionnummatricula}}</span></td>
                                         {%if pactivo<4 and qactivo<3 %}
                                          <td style="text-align: center"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">{{attribute(estudiante,'q'~qactivo~'P'~pactivo~'N1')}}</span></td>
                                          <td style="text-align: center"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">{{attribute(estudiante,'q'~qactivo~'P'~pactivo~'N2')}}</span></td>
                                          <td style="text-align: center"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">{{attribute(estudiante,'q'~qactivo~'P'~pactivo~'N3')}}</span></td>
                                          <td style="text-align: center"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">{{attribute(estudiante,'q'~qactivo~'P'~pactivo~'N4')}}</span></td>
                                          <td style="text-align: center"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">{{attribute(estudiante,'q'~qactivo~'P'~pactivo~'N5')}}</span></td>
                                         {% set pp=estudiante.getPromedioParcial(qactivo,pactivo) %}
                                          <script>
                                                promediosDeEsteCurso.push({{pp}});
                                          </script>
                                         {% set sumpp=(sumpp+pp) %}
                                          {%set promediocurso=(sumpp/c)%}
                                         <td style="text-align: center"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">{{pp}}</span></td>
                                         <td style="text-align: center"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000">{{estudiante.getSiglasEquivalencia(pp)}}</span></td>
                                         {%elseif pactivo==4 and qactivo<3 %}
                                         <td style="text-align: center"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{estudiante.getPromedioParcial(qactivo,1)}}</span></td>
                                         <td style="text-align: center"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{estudiante.getPromedioParcial(qactivo,2)}}</span></td>
                                         <td style="text-align: center"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{estudiante.getPromedioParcial(qactivo,3)}}</span></td>
                
                                         <td style="text-align: center"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{estudiante.getPromedioParciales(qactivo)}}</span></td>
                                         <td style="text-align: center"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{(estudiante.getPromedioParciales(qactivo)*0.8)|round(2)}}</span></td>
                                         <td style="text-align: center"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{attribute(estudiante,'q'~qactivo~'Ex')}}</span></td>
                                         <td style="text-align: center"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{(attribute(estudiante,'q'~qactivo~'Ex')*0.2)|round(2)}}</center></span></td>
                                         {% set pq=estudiante.getPromedioQuimestre(qactivo) %}
                                         <td style="text-align: center"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{pq}}</center></span></td>
                                        
                                        <td style="text-align: center"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{estudiante.getSiglasEquivalencia(pq)}}</span></td>
                                        
                                        <script>
                                                promediosDeEsteCurso.push({{pq}});
                                          </script>
                                         {% set sumpq=(sumpq+pq) %}
                                          {%set promediocurso=(sumpq/c)%}
                                         {%elseif qactivo==3 %}
                                             <td style="text-align: center"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{estudiante.getPromedioQuimestre(1)}}</span></td>
                                             <td style="text-align: center"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{estudiante.getPromedioQuimestre(2)}}</span></td>
  
                                            <td style="text-align: center"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{estudiante.getPromedioAnual()}}</span></td>
                                            <td style="text-align: center"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{estudiante.getSiglasEquivalencia(estudiante.getPromedioAnual())}}</span></td>
                                            <td style="text-align: center" width=35><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{estudiante.mejoramiento}}</span></td>
                                            <td style="text-align: center" width=35><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{estudiante.supletorio}}</span></td>
                                            <td style="text-align: center" width=35><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{estudiante.remedial}}</span></td>
                                            <td style="text-align: center" width=35><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{estudiante.gracia}}</span></td>
                                            {% set pf=estudiante.getPromedioFinal() %}
                                            <td style="text-align: center" width=35><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{pf}}</span></td>
                                            <td style="text-align: center" width=35><span style='font-size:8.0pt;font-family:Tahoma;color:{{estudiante.apruebaMateria()?'#000000':'#FF0000'}}'>{{estudiante.apruebaMateria()?'APRUEBA':'REPRUEBA'}}</span></td>
                                             <script>
                                                promediosDeEsteCurso.push({{pf}});
                                            </script>
                                             {% set sumpf=(sumpf+pf) %}
                                             {%set promediocurso=(sumpf/c)%}
                                         {%endif%}
                                     </tr>     
                                     {%endfor%}
                                    
                </tbody>
                <tfoot>
                    <tr>
                    <td bgcolor="FFFFFF" colspan="3"><span style="font-size:8.0pt;font-family:Tahoma;color:#000000"><b>Promedio del Curso:</b></span></td>
                    <td style="text-align: center" bgcolor=FFFFFF colspan="9"><span style='font-size:8.0pt;font-family:Tahoma;color:#000000'>{{promediocurso|round(2)}}</span></td>
                    </tr>
                </tfoot>    
            </table>
                    
                    <br/>
                   <table border="1" cellpadding="1" cellspacing="0" style="width:100%;font-size: 8.0pt;font-family: Tahoma;color: #000000;">
                       <thead>
                           <tr>
                              <th style="width:55%">RESUMEN DE CALIFICACIONES</th>
                              <th style="width:2em;text-align:center">#</th>
                              <th style="width:2em;text-align:center">%</th>
                              <th style="text-align:center">Grafico</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                              <td>Domina los aprendizajes requeridos (DAR) [10 - 9]</td>
                              <td id="dar-value" style="width:2em;text-align:center"></td>
                              <td id="dar-percent" style="width:2em;text-align:center"></td>
                              <td rowspan="4">
                                  <div materia-aula-cualitativo-chart promediosAula="promediosDeEsteCurso"></div>
                              </td>
                           </tr>
                           <tr>
                              <td>Alcanza los aprendizajes requeridos (AAR) [7 - 8]</td>
                              <td id="aar-value" style="width:2em;text-align:center"></td>
                              <td id="aar-percent" style="width:2em;text-align:center"></td>
                              
                           </tr>
                           <tr>
                              <td>Esta próximo a alcanzar los aprendizajes requeridos (PAAR) [4 - 6]</td>
                              <td id="paar-value" style="width:2em;text-align:center"></td>
                              <td id="paar-percent" style="width:2em;text-align:center"></td>
                              
                           </tr>
                           <tr>
                              <td>No alcanza los aprendizajes requeridos (NAR) [ <4 ]</td>
                              <td id="nar-value" style="width:2em;text-align:center"></td>
                              <td id="nar-percent" style="width:2em;text-align:center"></td>
                              
                           </tr>
                       </tbody>
                   </table>
                    {{include('MultiacademicoBundle:Reportes:firmasX5.html.twig')}}    
                        
           </td></tr></tbody></table>
</div>                          
    <div class="modal-footer noprint">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">
		Cancelar
	</button>
    <a id="imprimirmodal" type="button" class="btn btn-primary" onclick="window.print()">Imprimir</a>
</div>
{% endblock %}