{% block content -%}
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Calificaciones', 'Mostrar']" icon="file"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            </div>
    <div class="row">

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Q1p1n1</th>
                <td>{{ entity.q1P1N1 }}</td>
            </tr>
            <tr>
                <th>Q1p1n2</th>
                <td>{{ entity.q1P1N2 }}</td>
            </tr>
            <tr>
                <th>Q1p1n3</th>
                <td>{{ entity.q1P1N3 }}</td>
            </tr>
            <tr>
                <th>Q1p1n4</th>
                <td>{{ entity.q1P1N4 }}</td>
            </tr>
            <tr>
                <th>Q1p1n5</th>
                <td>{{ entity.q1P1N5 }}</td>
            </tr>
            <tr>
                <th>Q1p1recomendacion</th>
                <td>{{ entity.q1P1Recomendacion }}</td>
            </tr>
            <tr>
                <th>Q1p1planmejora</th>
                <td>{{ entity.q1P1Planmejora }}</td>
            </tr>
            <tr>
                <th>Q1p1co</th>
                <td>{{ entity.q1P1Co }}</td>
            </tr>
            <tr>
                <th>Q1p2n1</th>
                <td>{{ entity.q1P2N1 }}</td>
            </tr>
            <tr>
                <th>Q1p2n2</th>
                <td>{{ entity.q1P2N2 }}</td>
            </tr>
            <tr>
                <th>Q1p2n3</th>
                <td>{{ entity.q1P2N3 }}</td>
            </tr>
            <tr>
                <th>Q1p2n4</th>
                <td>{{ entity.q1P2N4 }}</td>
            </tr>
            <tr>
                <th>Q1p2n5</th>
                <td>{{ entity.q1P2N5 }}</td>
            </tr>
            <tr>
                <th>Q1p2recomendacion</th>
                <td>{{ entity.q1P2Recomendacion }}</td>
            </tr>
            <tr>
                <th>Q1p2planmejora</th>
                <td>{{ entity.q1P2Planmejora }}</td>
            </tr>
            <tr>
                <th>Q1p2co</th>
                <td>{{ entity.q1P2Co }}</td>
            </tr>
            <tr>
                <th>Q1p3n1</th>
                <td>{{ entity.q1P3N1 }}</td>
            </tr>
            <tr>
                <th>Q1p3n2</th>
                <td>{{ entity.q1P3N2 }}</td>
            </tr>
            <tr>
                <th>Q1p3n3</th>
                <td>{{ entity.q1P3N3 }}</td>
            </tr>
            <tr>
                <th>Q1p3n4</th>
                <td>{{ entity.q1P3N4 }}</td>
            </tr>
            <tr>
                <th>Q1p3n5</th>
                <td>{{ entity.q1P3N5 }}</td>
            </tr>
            <tr>
                <th>Q1p3recomendacion</th>
                <td>{{ entity.q1P3Recomendacion }}</td>
            </tr>
            <tr>
                <th>Q1p3planmejora</th>
                <td>{{ entity.q1P3Planmejora }}</td>
            </tr>
            <tr>
                <th>Q1p3co</th>
                <td>{{ entity.q1P3Co }}</td>
            </tr>
            <tr>
                <th>Q1ex</th>
                <td>{{ entity.q1Ex }}</td>
            </tr>
            <tr>
                <th>Q1recomendacion</th>
                <td>{{ entity.q1Recomendacion }}</td>
            </tr>
            <tr>
                <th>Q1planmejora</th>
                <td>{{ entity.q1Planmejora }}</td>
            </tr>
            <tr>
                <th>Q2p1n1</th>
                <td>{{ entity.q2P1N1 }}</td>
            </tr>
            <tr>
                <th>Q2p1n2</th>
                <td>{{ entity.q2P1N2 }}</td>
            </tr>
            <tr>
                <th>Q2p1n3</th>
                <td>{{ entity.q2P1N3 }}</td>
            </tr>
            <tr>
                <th>Q2p1n4</th>
                <td>{{ entity.q2P1N4 }}</td>
            </tr>
            <tr>
                <th>Q2p1n5</th>
                <td>{{ entity.q2P1N5 }}</td>
            </tr>
            <tr>
                <th>Q2p1recomendacion</th>
                <td>{{ entity.q2P1Recomendacion }}</td>
            </tr>
            <tr>
                <th>Q2p1planmejora</th>
                <td>{{ entity.q2P1Planmejora }}</td>
            </tr>
            <tr>
                <th>Q2p1co</th>
                <td>{{ entity.q2P1Co }}</td>
            </tr>
            <tr>
                <th>Q2p2n1</th>
                <td>{{ entity.q2P2N1 }}</td>
            </tr>
            <tr>
                <th>Q2p2n2</th>
                <td>{{ entity.q2P2N2 }}</td>
            </tr>
            <tr>
                <th>Q2p2n3</th>
                <td>{{ entity.q2P2N3 }}</td>
            </tr>
            <tr>
                <th>Q2p2n4</th>
                <td>{{ entity.q2P2N4 }}</td>
            </tr>
            <tr>
                <th>Q2p2n5</th>
                <td>{{ entity.q2P2N5 }}</td>
            </tr>
            <tr>
                <th>Q2p2recomendacion</th>
                <td>{{ entity.q2P2Recomendacion }}</td>
            </tr>
            <tr>
                <th>Q2p2planmejora</th>
                <td>{{ entity.q2P2Planmejora }}</td>
            </tr>
            <tr>
                <th>Q2p2co</th>
                <td>{{ entity.q2P2Co }}</td>
            </tr>
            <tr>
                <th>Q2p3n1</th>
                <td>{{ entity.q2P3N1 }}</td>
            </tr>
            <tr>
                <th>Q2p3n2</th>
                <td>{{ entity.q2P3N2 }}</td>
            </tr>
            <tr>
                <th>Q2p3n3</th>
                <td>{{ entity.q2P3N3 }}</td>
            </tr>
            <tr>
                <th>Q2p3n4</th>
                <td>{{ entity.q2P3N4 }}</td>
            </tr>
            <tr>
                <th>Q2p3n5</th>
                <td>{{ entity.q2P3N5 }}</td>
            </tr>
            <tr>
                <th>Q2p3recomendacion</th>
                <td>{{ entity.q2P3Recomendacion }}</td>
            </tr>
            <tr>
                <th>Q2p3planmejora</th>
                <td>{{ entity.q2P3Planmejora }}</td>
            </tr>
            <tr>
                <th>Q2p3co</th>
                <td>{{ entity.q2P3Co }}</td>
            </tr>
            <tr>
                <th>Q2ex</th>
                <td>{{ entity.q2Ex }}</td>
            </tr>
            <tr>
                <th>Q2recomendacion</th>
                <td>{{ entity.q2Recomendacion }}</td>
            </tr>
            <tr>
                <th>Q2planmejora</th>
                <td>{{ entity.q2Planmejora }}</td>
            </tr>
            <tr>
                <th>Mejoramiento</th>
                <td>{{ entity.mejoramiento }}</td>
            </tr>
            <tr>
                <th>Supletorio</th>
                <td>{{ entity.supletorio }}</td>
            </tr>
            <tr>
                <th>Remedial</th>
                <td>{{ entity.remedial }}</td>
            </tr>
            <tr>
                <th>Gracia</th>
                <td>{{ entity.gracia }}</td>
            </tr>
            <tr>
                <th>Grado</th>
                <td>{{ entity.grado }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="row">
        <ul class="record_actions">
    <li>
        <a href="{{ path('calificaciones') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('calificaciones_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </div>
</div>
{% endblock %}
