<link rel="stylesheet" href="{{asset('css/multiacademico.css')}}">
<link rel="stylesheet" href="{{asset('css/certificados.css')}}">
<link rel="stylesheet" href="{{asset('css/imprimir.css')}}">
<style>
    .dataTable thead tr th:first-child {
        min-width: 20px;
    }
    .nota-roja{
        color:red;
    }
    table thead tr th{
        text-align: center;
    }
    table tbody tr td:first-child{
        text-align: left;
    }
    table tbody tr td{
        text-align: center;
    }
</style>    
<page>
  <div class="paginah">
      {#{{include('MultiacademicoBundle:Reportes:encabezado.html.twig')}}
       #}
      {%verbatim%}
     <div class="info-aula">
         <strong>{{areaAcademica.nombre}}</strong>
     </div>
     {%endverbatim%}
     <div id="imprimir" class="form-group">
           

            {#<b>Quimestre Activo: {{'{{q}}'}} </b>
       <select data-ng-model="q" data-ng-init="q=qop[q-1].id" data-ng-options="q.id as q.label for q in qop" data-ng-change="changeq()" >
       </select> 


            <b>Parcial Activo:{{'{{p}}'}} </b>
                <select data-ng-model="p" data-ng-init="p=pop[p-1].id" data-ng-options="p.id as p.label for p in pop" data-ng-change="changeq()" >
                </select>#}
           <button class="btn btn-warning" onclick="window.print();"><i class="fa fa-print"></i>Imprimir</button>
       </div>
     <table class="" border="1">
         <thead>
             <tr>
                <th>Aula</th>
                <th>Promedio Area</th>
                <th>Promedio Año</th>
                <th>Promedio Nivel</th>
                <th>Promedio Esperado</th>
                <th>Meta</th>
             </tr>   
         </thead>    
         <tbody>
             {%verbatim%}
             <tr ng-repeat="aula in resumenJuntaDeArea">
                <td>{{aula.aula.aula}}</td>
                <td>{{aula.promedio}}</td>
                <td>{{promedioAnio(aula.aula.curso.tipo,aula.aula.curso.nivel)}}</td>
                <td>{{promedioNivel(aula.aula.curso.tipo)}}</td>
                <td>{{CALIFICACION_META}}</td>
                <td ng-class="{'nota-roja':meta(aula.promedio)<0}">{{meta(aula.promedio)}}</td>
             </tr>   
         
         </tbody>
         <tfoot>
             <tr >
                <th>PROMEDIO GLOBAL AREA</th>
                <td>{{promedioGlobalArea()}}</td>
                <td>{{promedioGlobalArea()}}</td>
                <td>{{promedioGlobalArea()}}</td>
                <td>{{CALIFICACION_META}}</td>
                <td ng-class="{'nota-roja':meta(promedioGlobalArea())<0}">{{meta(promedioGlobalArea())}}</td>
             </tr>
         </tfoot>
             {%endverbatim%}
     </table>    
         
      <br/>
      <br/>
      
         <div capacidad-real-vs-capacidad-esperada-chart titulo="Capacidad Real VS Capacidad Esperada" graphdata="resumenJuntaTable"  q="q" p="p" q="q"></div>
 <!--<div style="page-break-after: always;"></div>-->
  

</div>
</page>