{% block content -%}
<div id="content">
    <div class="row">
    <div class=" col-md-12">

        <!-- Start inline form -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title"><i class="flaticon-signature2"></i> Cursos Resumen</h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-container="body" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-container="body" data-action="remove" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body ">

    <table class="table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cursoabreviatura</th>
                <th>Curso</th>
                <th>Cursoestado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cursos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cursoabreviatura }}</td>
                <td>{{ entity.curso }}</td>
                <td>{{ entity.cursoestado }}</td>
                <td>
                <ul>                    
                    
                    
                    
                    
                                                                                                            
                                             
                    <li>
                        <a class="btn btn-info" href="{{ path('cursos_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>                    
                    
                    
                    
                    
                                                                                                            
                                             
                    <li>
                        <a class="btn btn-warning" href="{{ path('cursos_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
        </div>
    </div>    
    </div>
    <div class="row">    
        <ul>
        <li>
            <a href="{{ path('cursos_new') }}">
                Crear nueva entrada
            </a>
        </li>
    </ul>
        </div>
</div>    
{% endblock %}
