{% extends 'base.html.twig' %}
{% block body -%}
<link rel="stylesheet" href="{{asset('css/multiacademico.css')}}" />
<link rel="stylesheet" href="{{asset('css/imprimir.css')}}" />
<div class="noprint">
    <li>

             <div class="btn-group">
                <button type="button" class="btn btn-app btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                                <i class="fa fa-print"></i> Imprimir <span class="caret"></span>
                 </button> 
                <ul class="dropdown-menu" role="menu" ng-controller="PrintCtrl">

                    <li>
                        <a href="#" data-ng-click="openModal('print_aula',{'aula':{{aula.id}},'_format':'html'})"></i> Listado</a>
                    </li>
                    <li>
                        <a href="#" data-ng-click="openModal('print_aula',{'aula':{{aula.id}},'fecha':true,'_format':'html'})"></i> Fecha de Nacimiento</a>
                    </li>
                    
                </ul>
            </div>

            
             
        </li>  
</div>    
    <div class="row noprint">

    <table class="table ">
        <tbody>
            <tr>
                <th>Curso</th>
                <td>{{ aula.curso }}</td>
             </tr>   
             <tr>   
                <th>Especializacion</th>
                <td>{{ aula.especializacion }}</td>
             </tr>   
             <tr>      
                <th>Paralelo</th>
                <td>{{ aula.paralelo }}</td>
                </tr>   
             <tr>   
                <th>Seccion</th>
                <td>{{ aula.seccion }}</td>
                </tr>   
             <tr>   
                <th>Alias</th>
                <td>{{ aula.alias }}</td>
                </tr>      
             <tr>   
                <th>Periodo</th>
                <td>{{ aula.periodo }}</td>
                </tr>   
             <tr>   
                <th>Tutor</th>
                <td>{{ aula.tutor }}</td>
                </tr>
             <tr>   
                <th>Estudiantes</th>
                <td>
                    <table class="table">
                        <tr>
                           <th>Nº</th>
                           <th>Nombre</th>
                           <th> </th>
                        </tr>
                            {%for matricula in aula.matriculados %}
                        <tr>
                        <td>{{matricula.matriculacodestudiante.id}}</td>    
                        <td>{{matricula.matriculacodestudiante}}</td>
                        <td> </td>
                        </tr>
                        {%endfor%}
                     </table>
                </td>
                </tr>      
             
        
        </tbody>
    </table>
    </div>
        <ul class="noprint">
        <li>

             <div class="btn-group">
                <button type="button" class="btn btn-app btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                                <i class="fa fa-print"></i> Imprimir <span class="caret"></span>
                 </button> 
                <ul class="dropdown-menu" role="menu" ng-controller="PrintCtrl">

                    <li>
                        <a href="#" data-ng-click="openModal('print_aula',{'aula':{{aula.id}},'_format':'html'})"></i> Listado</a>
                    </li>
                    <li>
                        <a href="#" data-ng-click="openModal('print_aula',{'aula':{{aula.id}},'fecha':true,'_format':'html'})"></i> Fecha de Nacimiento</a>
                    </li>
                    
                </ul>
            </div>

            
             
        </li>    
        <li>
              <a class="btn btn-default"href="{{ path('aulas') }}">Regresar a la lista</a>
        </li>
        <li>
            <a class="btn btn-warning" href="{{path('aulas',{'page':([aula.curso.id,aula.especializacion.id,aula.paralelo,aula.seccion,aula.periodo.id]|join('/'))~'/edit'}) }}">Editar</a>
        </li>
         <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
          
        </li>      
        </ul>
        <div class="printable">    
{% endblock %}



