{% block body -%}
<div class="modal-header noprint">
	<button type="button" class="close" ng-click="closeModal()" data-dismiss="modal" aria-hidden="true">
		&times;
	</button>
        <h4 class="modal-title" id="myModalLabel">
        <img src="{{asset('escudo.png')}}" height="100" alt="Logotipo" />
         Impresión - Vista Previa
        </h4>
        <div class="text-align-right" style="text-align: right!important;">
        <a id="imprimirmodal" class="btn btn-success" onclick="window.print();">Imprimir</a>
        </div>
</div>

<div id="remoteModalContent" class="modal-body">
  <div>    
    <div style="height: 80px; margin-top: 30px;">
      <div style="width: 60%; display: block; float: left;">
        <div>
          <span style="padding-left: 90px;">{{pension.factura.idcliente}}</span>      
        </div>
        <div>
          <span style="padding-left: 90px;">{{pension.factura.idcliente.cedula}}</span> 
        </div>        
      </div>
      <div style="width: 40%; display: block; float: left;">
        <div >
          <span style="padding-left: 90px;">{{pension.factura.idcliente.telefono|default('---')}}</span> 
        </div>
        <div style="font-weight: bold;" >
          <span style="padding-left: 90px;"> <!--Aquí el código de fecha --> </span>
        </div>
      </div>
      <div style="width: 100%; display: block; float: left;">
          <span style="padding-left: 90px;">{{pension.factura.idcliente.domicilio}}</span>
      </div>      
    </div>
    <div>
      <table  style="width:100%; margin-top:100px;">          
          {% for item in pension.factura.items%}
          <tr style="text-align: center">
            <td> {{item.idproducto.descripcionCorta}}</td>
            <td style="width: 40%;"> {{item.descripcion}}</td>
            <td> {{item.cantidad}}</td>
            <td style="text-align:right; padding-right:10px;"> {{item.punitario}}</td>
            <td> {{'desc.'}}</td>
            <td style="text-align:right; padding-right:10px;"> {{(item.cantidad*item.punitario)|number_format(2)}}</td>
          </tr>
          {%endfor%}
      </table>
      <table style="width:100%; margin-top: 100px;">    
        <tr>   
          <td style="width:20%; text-align:right">{{pension.factura.subtotal}}</td>
        </tr>
        <tr>  
            <td style="width:20%; text-align:right"> {{'dewsc'}} </td>
        </tr>
        <tr>   
            <td style="width:20%; text-align:right"> {{pension.factura.ivaigv}} </td>
        </tr>
        <tr>   
            <td id="total-pension" style="width:20%; text-align:right"> {{pension.factura.total}} </td>
        </tr>        
      </table>
    </div>
    <div>
      <h4 style="text-align: left; margin-top: 100px;">  </h4>
    </div>
    <div>
      <h4 style="text-align: center; margin-top: 100px;"> Recibí conforme </h4>
    </div>
  </div>    
  
</div>                          
    <div class="modal-footer noprint">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">
		Cancelar
	</button>
    <a id="imprimirmodal" type="button" class="btn btn-success" onclick="window.print()">Imprimir</a>
</div>
<!--area imprimible test -->
    <div class="printable" />
    <!-- fin area imprimible test -->

{% endblock %}