{% block body -%}
<div class="modal-header noprint">
	<button type="button" class="close" ng-click="closeModal()" data-dismiss="modal" aria-hidden="true">
		&times;
	</button>
        <h4 class="modal-title" id="myModalLabel">
        <img src="{{asset('escudo.png')}}" height="100" alt="Logotipo" />
         Impresión - Vista Previa
        </h4>
        <div class="text-align-right" style="text-align: right!important;">
        <a id="imprimirmodal" class="btn btn-success" onclick="window.print();">Imprimir</a>
        </div>
</div>

<div id="remoteModalContent" class="modal-body" style="font-size:8pt">
  <div>    
    <div style="height: 80px; margin-top: 30px;">
      <div style="width: 60%; display: block; float: left;">
        <div>
          <span style="padding-left: 90px;">{{pension.factura.idcliente}}</span>      
        </div>
        <div>
          <span style="padding-left: 90px;">{{pension.factura.idcliente.cedula}}</span> 
        </div>        
      </div>
      <div style="width: 40%; display: block; float: left;">
        <div >
          <span style="padding-left: 90px;">{{pension.factura.idcliente.telefono|default('---')}}</span> 
        </div>
        <div style="font-weight: bold;" >
          <span style="padding-left: 90px;"> <!--Aquí el código de fecha --> </span>
        </div>
      </div>
      <div style="width: 100%; display: block; float: left;">
          <span style="padding-left: 90px;">{{pension.factura.idcliente.domicilio}}</span>
      </div>      
    </div>
    <div>
      <table  style="width:100%; margin-top:100px;">          
          {% for item in pension.factura.items%}
          <tr style="text-align: center">
            <td> {{item.idproducto.descripcionCorta}}</td>
            <td style="width: 40%;"> {{item.descripcion}}</td>
            <td> {{item.cantidad}}</td>
            <td style="text-align:right; padding-right:10px;"> {{item.punitario}}</td>
            {# descuento i9ndividual #}
            <td> {{item.getValorDescuento()|number_format(2)}}</td>
            <td style="text-align:right; padding-right:10px;"> {{(item.getTotal())|number_format(2)}}</td>
          </tr>
          {%endfor%}
      </table>
      <table style="width:100%; margin-top: 100px;">    
        <tr>
          <td rowspan="4" style="width:20%; "> </td>
          <td rowspan="4" style="width:60%; text-align:left">  <span id="total-words" style="text-align: left; margin-top: 100px;">  </span></td>
          <td style="width:20%; text-align:right">{{pension.factura.subtotal}}</td>
        </tr>
        <tr>  
            {# descuento #}
            <td style="width:20%; text-align:right"> {{pension.factura.descuento}} </td>
        </tr>
        <tr>   
            <td style="width:20%; text-align:right"> {{pension.factura.ivaigv}} </td>
        </tr>
        <tr>   
            <td id="total-pension" style="width:20%; text-align:right"> {{pension.factura.total}} </td>
        </tr>        
      </table>
    </div>
    {#<div>
      <h4 style="text-align: center; margin-top: 100px;"> Recibí conforme </h4>
    </div>#}
  </div>    
  
</div>                          
    <div class="modal-footer noprint">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">
		Cancelar
	</button>
    <a id="imprimirmodal" type="button" class="btn btn-success" onclick="window.print()">Imprimir</a>
</div>
<!--area imprimible test -->
    <div class="printable" />
    <!-- fin area imprimible test -->
<script>
  var num = document.getElementById('total-pension').innerHTML;
  document.getElementById('total-words').innerHTML = NumeroALetras(parseFloat(num));
  
  function Unidades(num){

  switch(num)
  {
    case 1: return "UN";
    case 2: return "DOS";
    case 3: return "TRES";
    case 4: return "CUATRO";
    case 5: return "CINCO";
    case 6: return "SEIS";
    case 7: return "SIETE";
    case 8: return "OCHO";
    case 9: return "NUEVE";
  }

  return "";
}

function Decenas(num){

  decena = Math.floor(num/10);
  unidad = num - (decena * 10);

  switch(decena)
  {
    case 1:   
      switch(unidad)
      {
        case 0: return "DIEZ";
        case 1: return "ONCE";
        case 2: return "DOCE";
        case 3: return "TRECE";
        case 4: return "CATORCE";
        case 5: return "QUINCE";
        default: return "DIECI" + Unidades(unidad);
      }
    case 2:
      switch(unidad)
      {
        case 0: return "VEINTE";
        default: return "VEINTI" + Unidades(unidad);
      }
    case 3: return DecenasY("TREINTA", unidad);
    case 4: return DecenasY("CUARENTA", unidad);
    case 5: return DecenasY("CINCUENTA", unidad);
    case 6: return DecenasY("SESENTA", unidad);
    case 7: return DecenasY("SETENTA", unidad);
    case 8: return DecenasY("OCHENTA", unidad);
    case 9: return DecenasY("NOVENTA", unidad);
    case 0: return Unidades(unidad);
  }
}//Unidades()

function DecenasY(strSin, numUnidades){
  if (numUnidades > 0)
    return strSin + " Y " + Unidades(numUnidades)

  return strSin;
}//DecenasY()

function Centenas(num){

  centenas = Math.floor(num / 100);
  decenas = num - (centenas * 100);

  switch(centenas)
  {
    case 1:
      if (decenas > 0)
        return "CIENTO " + Decenas(decenas);
      return "CIEN";
    case 2: return "DOSCIENTOS " + Decenas(decenas);
    case 3: return "TRESCIENTOS " + Decenas(decenas);
    case 4: return "CUATROCIENTOS " + Decenas(decenas);
    case 5: return "QUINIENTOS " + Decenas(decenas);
    case 6: return "SEISCIENTOS " + Decenas(decenas);
    case 7: return "SETECIENTOS " + Decenas(decenas);
    case 8: return "OCHOCIENTOS " + Decenas(decenas);
    case 9: return "NOVECIENTOS " + Decenas(decenas);
  }

  return Decenas(decenas);
}//Centenas()

function Seccion(num, divisor, strSingular, strPlural){
  cientos = Math.floor(num / divisor)
  resto = num - (cientos * divisor)

  letras = "";

  if (cientos > 0)
    if (cientos > 1)
      letras = Centenas(cientos) + " " + strPlural;
    else
      letras = strSingular;

  if (resto > 0)
    letras += "";

  return letras;
}//Seccion()

function Miles(num){
  divisor = 1000;
  cientos = Math.floor(num / divisor)
  resto = num - (cientos * divisor)

  strMiles = Seccion(num, divisor, "UN MIL", "MIL");
  strCentenas = Centenas(resto);

  if(strMiles == "")
    return strCentenas;

  return strMiles + " " + strCentenas;

  //return Seccion(num, divisor, "UN MIL", "MIL") + " " + Centenas(resto);
}//Miles()

function Millones(num){
  divisor = 1000000;
  cientos = Math.floor(num / divisor)
  resto = num - (cientos * divisor)

  strMillones = Seccion(num, divisor, "UN MILLON", "MILLONES");
  strMiles = Miles(resto);

  if(strMillones == "")
    return strMiles;

  return strMillones + " " + strMiles;

  //return Seccion(num, divisor, "UN MILLON", "MILLONES") + " " + Miles(resto);
}//Millones()

function NumeroALetras(num){
  var data = {
    numero: num,
    enteros: Math.floor(num),
    centavos: (((Math.round(num * 100)) - (Math.floor(num) * 100))),
    letrasCentavos: ""
  };

  if (data.centavos > 0)
    data.letrasCentavos = "CON " + data.centavos + "/100";

  if(data.enteros == 0)
    return "CERO " + data.letrasCentavos;
  else
    return Millones(data.enteros) + " " + data.letrasCentavos;
}//NumeroALetras()
  
</script>
{% endblock %}