{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{asset('css/multiacademico.css')}}" />
    <link rel="stylesheet" href="{{asset('css/imprimir.css')}}" />
    <h1 class="noprint">Pension</h1>

    <table class="noprint">
        <tbody>
            <tr>
                <th>Informacion</th>
                <td>{{ pension.info }}</td>
            </tr>
            <tr>
                <th>Emitida</th>
                <td>{{ pension.factura.emitido|date() }}</td>
            </tr>
            <tr>
                <th>Estudiante</th>
                <td>{{ pension.estudiante }}</td>
            </tr>
            <tr>
                <th>Codigo Factura</th>
                <td>{{ pension.factura.id }}</td>
            </tr>
            <tr>
                <th>Factura Numero Legal</th>
                <td>{{ pension.factura.legal }}</td>
            </tr>
            <tr>
                <th>Representante</th>
                <td>{{ pension.factura.idcliente }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                
                <td>${{ pension.factura.descuento }}</td>
            </tr>
            <tr>
                <th>Total a Pagar</th>
                
                <td>${{ pension.factura.total }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ pension.factura.estado|readablehtml|raw }}</td>
            </tr>
            <tr>
                <th>Vencimiento</th>
                <td>{{ pension.factura.vencimiento|date() }}</td>
            </tr>
            <tr>
                <th>Fecha de Pago</th>
                
                <td>{{ pension.factura.pago is null?'No ha sido Pagada':pension.factura.pago|date() }}</td>
            </tr>
            
        </tbody>
    </table>

    <ul class="noprint">
        <li>
              <div class="btn-group">
                <button type="button" class="btn btn-app btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                                <i class="fa fa-print"></i> Imprimir <span class="caret"></span>
                 </button> 
                <ul class="dropdown-menu" role="menu" ng-controller="PrintCtrl">
                    {#<li>
                        <a href="#" data-ng-click="openModal('print_matricula_contrato',{'matricula':{{matricula.id}},'_format':'html'})"><i class="fa fa-print bigger-160"></i> Contrato</a>
                    </li>#}
                    <li class="divider"></li>
                    <li>
                        <a href="#" data-ng-click="openModal('print_pension',{'pension':{{pension.id}},'_format':'html'})"></i> Solo Datos</a>
                    </li>
                    {#<li>
                        <a ng-href="{{'{{urlAnexo('~entity.cedula~')}}'}}" target="_blank">Anexo</a>
                    </li>
                    
                    <li class="divider"></li>
                    <li>
                        <a href-void="" href="#">Separated link</a>
                    </li>#}
                </ul>
            </div>
        </li>    
        <li>
            <a href="{{ path('pension') }}">Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('pension_edit', { 'page': pension.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <div class="printable"/>
{% endblock %}
