{% extends 'base.html.twig' %}

{% block body %}
    <style>
        label{
            display: table;
        }
        div.dataTables_filter input {
          margin-left: 0px; 
        }
        .dataTable thead tr th:first-child{
          min-width: 10px;  
        }

    </style>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
        <h1>Actividad Academica listado</h1>
    </div>
     <div class="col-xs-12 col-sm-4" style="height:40px">
        {{include('::adsense-responsive.html.twig')}}
     </div>
    </div>
        {{ datatable_render_html(datatable) }}
    <ul>
        <li>
            <a href="{{ path('actividadacademica',{'page':'new'}) }}">Crear nueva entrada</a>
        </li>
    </ul>   {{ datatable_render_js(datatable) }}
    
    <script type="text/javascript">
        var filterDatatableFechaEnvio=$("#actividadacademica_datatable .sg-daterange")[0];
        
         try {
            moment.locale("{{ app.request.locale }}");
            
            var filterFechaEnvio=$("<input id='filterFechaEnvio' placeholder='Fecha de Envio' type='text'/>");
            
            $(filterFechaEnvio).daterangepicker({
                autoUpdateInput: false,
                    locale: {
                        format: "{{ 'daterange.format'|trans({}, 'messages') }}",
                        applyLabel: "{{ 'daterange.apply'|trans({}, 'messages') }}",
                        cancelLabel: "{{ 'daterange.cancel'|trans({}, 'messages') }}",
                        daysOfWeek: moment.weekdaysMin(),
                        monthNames: moment.monthsShort(),
                        firstDay: moment.localeData().firstDayOfWeek(),
                        customRangeLabel: "Seleccionar en Calendario"
                    },
                    ranges: {
                       'Hoy': [moment(), moment()],
                       'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                       'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
                       'Q1 Parcial 1': [moment('{{entidad.configAnioLectivo.quimestre1.fecha_inicio_parcial1}}'),moment('{{entidad.configAnioLectivo.quimestre1.fecha_fin_parcial1}}')],
                       'Q1 Parcial 2': [moment('{{entidad.configAnioLectivo.quimestre1.fecha_inicio_parcial2}}'),moment('{{entidad.configAnioLectivo.quimestre1.fecha_fin_parcial2}}')],
                       'Q1 Parcial 3': [moment('{{entidad.configAnioLectivo.quimestre1.fecha_inicio_parcial3}}'),moment('{{entidad.configAnioLectivo.quimestre1.fecha_fin_parcial3}}')],
                       'Q2 Parcial 1': [moment('{{entidad.configAnioLectivo.quimestre2.fecha_inicio_parcial1}}'),moment('{{entidad.configAnioLectivo.quimestre2.fecha_fin_parcial1}}')],
                       'Q2 Parcial 2': [moment('{{entidad.configAnioLectivo.quimestre2.fecha_inicio_parcial2}}'),moment('{{entidad.configAnioLectivo.quimestre2.fecha_fin_parcial2}}')],
                       'Q2 Parcial 3': [moment('{{entidad.configAnioLectivo.quimestre2.fecha_inicio_parcial3}}'),moment('{{entidad.configAnioLectivo.quimestre2.fecha_fin_parcial3}}')],
                       'Este Mes': [moment().startOf('month'), moment().endOf('month')],
                       'Mes Pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                       'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment()]
                    }
                    }).on('cancel.daterangepicker', function(ev, picker) {
                        $(this).val('');
                        $(this).change();
                        $(filterDatatableFechaEnvio).val($(this).val());
                        $(filterDatatableFechaEnvio).change();
                    })
                    .on('apply.daterangepicker', function(ev, picker) {
                        $(this).val(picker.startDate.format("{{ 'daterange.format'|trans({}, 'messages') }}") + ' - ' + picker.endDate.format("{{ 'daterange.format'|trans({}, 'messages') }}"));
                        $(filterDatatableFechaEnvio).val($(this).val());
                        $(filterDatatableFechaEnvio).change();
                    });       
                    $(filterFechaEnvio).appendTo("#multiacademico_datatable_filters");
        }catch (e) {
                console.log(e.message);
        }
        </script>
{% endblock %}
