{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block nota_widget %}
{% spaceless %}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {%- set type = type|default('number') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value|replace(',','.')|number_format(2,'.') }}" {% endif %}/>
{% endspaceless %}
{% endblock  %}
{% block body %}
    <h1>Actividad Academica</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actividadAcademica.id }}</td>
            </tr>
            <tr>
                <th>Materia</th>
                <td>{{ actividadAcademica.distributivo.distributivocodmateria }}</td>
            </tr>
            <tr>
                <th>Aula</th>
                <td>{{ actividadAcademica.distributivo.aula }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ actividadAcademica.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ actividadAcademica.descripcion }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ actividadAcademica.tipo }}</td>
            </tr>
            <tr>
                <th>Archivo</th>
                <td>
                    {% if actividadAcademica.getWebPath() %}
                    <a class="btn btn-lilac" target="_blank" href="{{asset(actividadAcademica.getWebPath())}}">
                       <i class="fa fa-download"></i> Descargar
                    </a>
                    {%else%}
                     La tarea no tine archivo Adjunto
                    {%endif%}
                </td>
            </tr>
            <tr>
                <th>Fechaenvio</th>
                <td>{% if actividadAcademica.fechaEnvio %}{{ actividadAcademica.fechaEnvio|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaentrega</th>
                <td>{% if actividadAcademica.fechaEntrega %}{{ actividadAcademica.fechaEntrega|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            
            <tr>
                
                <td colspan="2">
                    {{form_start(form)}}
                            <table class="table table-striped">
                            <thead>
                                <tr>
                                  <th colspan="6" style="text-align:right">  
                                   <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o bigger-160"></i> Guardar</button> 
                                   </th>
                                </tr>    
                                <tr>
                                    <th>NumMat</th>
                                    <th>Estudiante</th>
                                    <th>Entregada</th>
                                    <th>Calificacion</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>    
                            </thead>        
                            <tbody>    
                                {% for calificacion in form.calificaciones %}
                            <tr>
                                <td>{{actividadAcademica.detalle[loop.index0].matricula.id}}</td>
                                <td>{{actividadAcademica.detalle[loop.index0].matricula}}</td>
                                <td>{% if actividadAcademica.detalle[loop.index0].fechaEntregada %}{{ actividadAcademica.detalle[loop.index0].fechaEntregada|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{form_widget(calificacion.calificacion)}}</td>
                                <td>{{actividadAcademica.detalle[loop.index0].estado|readablehtml|raw}}</td>
                                <td>
                                    <a class="btn btn-xs btn-primary" data-ui-sref="multiacademico.actividadacademica.show.detail({detalle:{{actividadAcademica.detalle[loop.index0].id}}})"><i class="fa fa-eye"></i>Ver Detalles</a>
                                    {% if actividadAcademica.detalle[loop.index0].getWebPath() %}
                                    <a class="btn btn-xs btn-rss" target="_blank" href="{{asset(actividadAcademica.detalle[loop.index0].getWebPath())}}"><i class="fa fa-download"></i>Descargar</a>
                                    {%endif%}
                                </td>
                            </tr>
                                {%endfor%}
                            </tbody>    
                            </table>
                    {{form_end(form)}}    
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actividadacademica') }}">Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('actividadacademica_edit', { 'page': actividadAcademica.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
