{% block body -%}
<div class="modal-header noprint">
	<button type="button" class="close" ng-click="closeModal()" data-dismiss="modal" aria-hidden="true">
		&times;
	</button>
        <h4 class="modal-title" id="myModalLabel">
        <img src="{{asset('escudo.png')}}" height="100" alt="Logotipo" />
         Impresión - Vista Previa
        </h4>
        <div class="text-align-right" style="text-align: right!important;">
        <a id="imprimirmodal" class="btn btn-success" onclick="window.print();">Imprimir</a>
        </div>
</div>

<div id="remoteModalContent" class="modal-body " style="font-family: Arial">
  
       <img src="{{asset('escudo.png')}}" height="80" border="0" alt="Logo"> 
        <h3 style="text-align:center;font-family: Arial">
                CONTRATO DE SERVICIO EDUCATIVO PARTICULAR
             </h3>
<div class="text-justify">       
    Comparecen a la celebración del presente contrato por una parte UNIDAD EDUCATIVA ECUATORIANA AUSTRIACA, debidamente representado por la autoridad educativa Rector MGS. WIGDINTON PONCE ORTIZ, a quien en adelante y para efectos del presente contrato se denominará simplemente LA <b>INSTITUCIÓN EDUCATIVA UNIDAD EDUCATIVA ECUATORIANA AUSTRIACA</b>,  y por otra parte el/la señor/a, 
    <b>{{matricula.matriculacodestudiante.representante|default('NO TIENE REPRESENTANTE')}}</b> 
    representante legal del estudiante <b>{{matricula.matriculacodestudiante}}</b>, portador de la cédula de ciudadanía No. {{matricula.matriculacodestudiante.representante.cedula|default('XXXXXXXXXX')}}, por sus propios y personales derechos, a quien en adelante y para efectos de este contrato se denominará el/la CONTRATANTE, quienes en forma libre y voluntaria y con capacidad legal para ejercer derechos y contraer obligaciones, convienen en celebrar el presente contrato que se regirá por las siguientes cláusulas: 
<br/>
<b>PRIMERA.- ANTECEDENTES: </b>
<br/>
La UNIDAD EDUCATIVA ECUATORIANA AUSTRIACA, es una Institución Educativa Particular, que brinda servicio educativo y ofertas de niveles DE INICIAL 2, BÁSICA GENERAL Y BACHILLERATO. 
La UNIDAD EDUCATIVA ECUATORIANA AUSTRIACA, se encuentra legalmente conformada según acuerdo ministerial No. 00113 de fecha 23 de marzo del 2000. 
La Institución Educativa ECUATORIANA AUSTRIACA, es una entidad que se caracteriza por entregar un servicio educativo acorde a los estándares de calidad, respeta los derechos de inclusión y atención prioritaria a los estudiantes que se encuentran en estado de excepcionalidad,  y cumple con los derechos de los estudiantes y de la comunidad educativa estipulados en el Marco Legal Educativo; 
La Institución Educativa, imparte una educación basada en principios laicos.
El/la contratante a manifestado su voluntad de contar con los servicios de nuestra Institución; 
<br/>
<b>SEGUNDA.- OBJETO: </b>
<br/>
<b>Institución Educativa ECUATORIANA AUSTRIACA</b>  y el/la señor/a de {{matricula.matriculacodestudiante.representante|default('NO TIENE REPRESENTANTE')}} representante legal del estudiante <b>{{matricula.matriculacodestudiante}}</b>, de ___ AÑOS DE edad, que cursará en el presente periodo lectivo <b>{{matricula.matriculacodperiodo}}</b>, en el {{matricula.matriculacodcurso}} de {{matricula.matriculacodespecializacion}}, de común acuerdo en forma libre voluntaria, convienen en celebrar el presente contrato, por el cual el contratante se compromete a adquirir los servicios de educación particular de  nuestra Institución Educativa, los servicios, los cuales el contratante declara conocerlos y aceptarlos en su integridad; 
<br/>
<b>TERCERA.- DERECHOS Y OBLIGACIONES DE LA COMUNIDAD EDUCATIVA: </b>
<br/>
3.1. Los estudiantes tienen derechos a contar con propuestas educacionales flexibles y alternativas que permitan la inclusión y permanencia de aquellas personas que requieran atención prioritaria, de manera particular personas con discapacidades, adolescentes y jóvenes embarazadas;
<br/>
3.2. Los Padres de familia tienen derecho a Implementar medidas de acción afirmativa para el acceso y permanencia en el sistema educativo de las niñas(os); 
<br/>
3.3. El representante legal y padre de familia tienen derecho a escoger, con observancia al Interés Superior del Niño, el tipo de institución educativa que consideren conveniente para sus representados, acorde a sus creencias, principios y su realidad cultural y lingüística;
<br/>
3.4. El representante legal y padre de familia tienen derecho a vigilar el respeto a los derechos de sus hijos e hijas o representadas y representados, en las entidades educativas, y denunciar la violación de aquellos ante las autoridades competentes; 
<br/>
3.5. La Institución Educativa ECUATORIANA AUSTRIACA está autorizada a cobrar pensiones y matrículas, de conformidad con la Ley y los reglamentos que, para el efecto, dicte la Autoridad Educativa Nacional. Todo cobro de rubros no autorizados por la Autoridad Educativa Nacional deberá ser reembolsado a quien lo hubiere efectuado, sin perjuicio de las sanciones que por tal motivo pueda establecer la Autoridad Educativa Nacional. Las instituciones educativas privadas no tendrán como finalidad principal el lucro; 
<br/>
3.6. La institución educativa particular ECUATORIANA AUSTRIACA tendrá derecho a cobrar las pensiones y matrículas de conformidad con el reglamento que emita la Autoridad Educativa Nacional;
<br/>
3.7. La institución educativa particular ECUATORIANA AUSTRIACA, deberá garantizar la utilización de medidas de acción afirmativa a favor de los titulares de derechos que se encuentran en condición de desigualdad, para el acceso y permanencia en el servicio de educación que están autorizados a brindar; 
<br/>
<b>CUARTA.- MATRÍCULA Y PENSIONES: </b>
<br/>
4.1. El contratante deberá cancelar el valor de la matrícula, la misma que se encuentra debidamente aprobada mediante Resolución No. 000001409D14 de Costos de Matrículas y Pensiones de la Educación, cuyo monto es $ 42,62; 
<br/>
4.2. El contratante se compromete cancelar LA PENSION, mensualmente la misma que se encuentra debidamente aprobada mediante Resolución No. 000001409D14 de Costos de Matrículas y Pensiones de la Educación, cuyo monto es $ 68,20; 
<br/>
4.3. El contratante manifiesta su voluntad de cancelar las pensiones por los costos de educación de sus representados durante los diez primeros días de cada mes; 
<br/>
4.4. El contratante manifiesta libre y voluntariamente la realización, si fuera necesario para garantizar la permanencia de su representado en el Sistema Nacional Educativo, del pago de matrícula con el valor aprobado del año inmediato anterior, el mismo se considerará como abono del costo  de matrícula, siempre y cuando hasta la fecha de inicio de clases no se contara con la respectiva Resolución de Costos de Educación emitida por la Junta Distrital de Costos de Matrículas y Pensiones de la Educación del Distrito Educativo. En el caso ejecutoriase la Resolución de los Costos de la Educación, una vez iniciado el periodo lectivo 2015-2016, si se hubiera aprobado un incremento en los costos de matrículas y pensiones, el representante deberá cancelar definitivamente el incremento para formalizar la matriculación durante el primer mes del inicio a clases;
<br/>
4.5. La Institución Educativa ECUATORIANA AUSTRIACA, advierte al Contratante, que una vez publicada la Resolución de los Costos de Educación de las matrículas y pensiones, estos valores están sujetos a modificación en su incremento por acciones administrativas de reposición y apelación, los mismos que no será mayor al 10% de los valores de matrícula y pensión del año lectivo inmediato anterior y se aplicaran una vez resueltos por las instancias administrativas competentes; 
<br/>
<b>QUINTA.-  FORMA DE PAGO: </b>
<br/>
5.1. El contratante, se compromete de manera libre y voluntaria, al pago en efectivo el valor de matrícula y de las pensiones los diez  primero días de cada mes; 
<br/>
5.2. El contratante, se compromete al pago puntual de las pensiones del costo de la educación, pero si por excepciones, el representante legal no pagará acorde al enunciado anterior, deberá justificar por escrito y con documento de respaldo su atraso;
<br/>
5.3. Las partes de mutuo acuerdo o individualmente podrán solicitar convenios de pago de los costos de educación hasta máximo de tres meses de adeudar las pensiones; o en su defecto se tramitará métodos alternativos de solución de conflictos por mediación en los Centros de Mediación Autorizados por el Consejo Nacional de la Judicatura;  
<br/>
<b>SEXTA.- PLAZO: </b>
<br/>
El presente contrato rige desde QUE el representante legal de {{matricula.matriculacodestudiante}}, procede a la matriculación hasta la finalización del año lectivo {{matricula.matriculacodperiodo}}; 
<br/>
<b>SÉPTIMA.- TERMINACIÓN ANTICIPADA DEL CONTRATO:</b>
<br/>
Por voluntad de las partes se dará por terminado el presente  contrato, en cualquier momento, previa notificación motivada por escrito a la otra parte con al menos 15 días de anticipación a la fecha de cierre del Sistema otorgado por el ME;   
<br/>
<b>OCTAVO.- CONTROVERSIAS: </b>
<br/>
8.1. En caso de suscitarse controversia, llegar un acuerdo, si esto no fuera posible las partes convienen en someterse a un proceso de  Mediación y si aun así no se soluciona el inconveniente o la controversia, las partes se someterán a la justicia ordinaria, ante un juez de lo civil; 
<br/>
8.2. El contratante libre y voluntariamente acuerda, que en el caso de no contar con recursos económicos para efectuar el pago de los costos de la educación matrícula y pensiones del representado y por efecto de la aplicabilidad de los derechos de los niños, niñas y adolescentes, y, de garantizar el principio del interés superior del niño, la corresponsabilidad y el desarrollo integral,  acepta que su representado sea trasladado a otra Institución Educativa para que su representado permanezca dentro del Sistema Nacional Educativo y no se incurra en la violación o lesión del derecho a la educación; 
<br/>
8.3. El contratante seguirá los procedimientos administrativos necesarios para que su representado logre ser incorporado en la Institución Educativa que se ajuste a sus necesidades y posibilidades, sean estas Instituciones Educativas Particulares o Fiscales; 
<br/>   
<b>NOVENO.- PREVALENCIA: </b>
<br/>
En razón  a lo establecido en el Código Civil, las clausulas en el presente contrato, prevalecerán sobre cualquier otra disposición, normatividad y/o instrucción verbal o escrita que algunas de las partes puedan expedir en el decurso de la contratación y serán por tanto 
de cumplimiento obligatorio, siempre y cuando no vulnere los derechos del representado del contratante;
<br/>
<b>DÉCIMA.- DOCUMENTOS HABILITANTES: </b>
<br/>
Los documentos que habilitan el presente contrato son las copias de Cedulas de ciudadanía a color, nombramiento del rector.
<br/>
<b>DÉCIMA PRIMERA.- ACEPTACIÓN Y RATIFICACIÓN: </b>
<br/> 
Las partes aceptan y se ratifican en el contenido del presente contrato, por ser conveniente a sus intereses; 
<br/>
<br/>
Para constancia de la aceptación las partes firman en tres ejemplares de igual tenor y valor, en la ciudad de Pedro Carbo, a los {{'now'|date('d')}} días del mes de {{'now'|date('m')|mes}} del {{'now'|date('Y')}}. 




<br/>
<br/>
<br/>
<br/>

<p>
<table style="width:100%">
    <tr>
        <td style="width:50%;text-align:center">
    Representante  Legal de la IE
        </td>
        <td style="width:50%;text-align:center">
            Representante Legal del estudiante
        </td>
    </tr>
</table>
</p>


</div>

    
</div>                          
    <div class="modal-footer noprint">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">
		Cancelar
	</button>
    <a id="imprimirmodal" type="button" class="btn btn-success" onclick="window.print()">Imprimir</a>
</div>
{% endblock %}