{% extends 'base.html.twig' %}

{% block body %}
    <h1>Matriculas</h1>

    <table>
        <tbody>
            <tr>
                <th>Codigo de Matricula</th>
                <td>{{ matricula.id }}</td>
            </tr>
            <tr>
                <th>Periodo</th>
                <td>{{ matricula.matriculacodperiodo }}</td>
            </tr>
            <tr>
                <th>Estudiante</th>
                <td>{{ matricula.matriculacodestudiante }}</td>
            </tr>
            <tr>
                <th>Curso</th>
                <td>{{ matricula.matriculacodcurso }}</td>
            </tr>
            <tr>
                <th>Especializacion</th>
                <td>{{ matricula.matriculacodespecializacion }}</td>
            </tr>
            <tr>
                <th>Paralelo</th>
                <td>{{ matricula.matriculaparalelo }}</td>
            </tr>
            <tr>
                <th>Seccion</th>
                <td>{{ matricula.matriculaseccion }}</td>
            </tr>
            
            <tr>
                <th>Matriculafecha</th>
                <td>{% if matricula.matriculafecha %}{{ matricula.matriculafecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Matriculaclave</th>
                <td>{{ matricula.matriculaclave }}</td>
            </tr>
            <tr>
                <th>Matriculatipo</th>
                <td>{{ matricula.matriculatipo }}</td>
            </tr>
            <tr>
                <th>Matriculaobservacion</th>
                <td>{{ matricula.matriculaobservacion }}</td>
            </tr>
            <tr>
                <th>Matriculaestado</th>
                <td>{{ matricula.matriculaestado }}</td>
            </tr>
            
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('matriculas') }}">Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('matriculas', { 'page': matricula.id~'/edit' }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
