{% extends 'base.html.twig' %}

{% block body %}
   <link rel="stylesheet" href="{{asset('css/multiacademico.css')}}" />
    <link rel="stylesheet" href="{{asset('css/imprimir.css')}}" />
    <h1 class="noprint">Matriculas</h1>

    <table class="noprint">
        <tbody>
            <tr>
                <th>Codigo de Matricula</th>
                <td>{{ matricula.id }}</td>
            </tr>
            <tr>
                <th>Codigo de Estudiante</th>
                <td>{{ matricula.matriculacodestudiante.id }}</td>
            </tr>
            <tr>
                <th>Representante</th>
                <td>{{ matricula.matriculacodestudiante.representante|default('No asignado') }}</td>
            </tr>
            <tr>
                <th>Periodo</th>
                <td>{{ matricula.matriculacodperiodo }}</td>
            </tr>
            <tr>
                <th>Estudiante</th>
                <td>{{ matricula.matriculacodestudiante }}</td>
            </tr>
            <tr>
                <th>Curso</th>
                <td>{{ matricula.matriculacodcurso }}</td>
            </tr>
            <tr>
                <th>Especializacion</th>
                <td>{{ matricula.matriculacodespecializacion }}</td>
            </tr>
            <tr>
                <th>Paralelo</th>
                <td>{{ matricula.matriculaparalelo }}</td>
            </tr>
            <tr>
                <th>Seccion</th>
                <td>{{ matricula.matriculaseccion }}</td>
            </tr>
            
            <tr>
                <th>Fecha de Matriculacion</th>
                <td>{% if matricula.matriculafecha %}{{ matricula.matriculafecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            {#<tr>
                <th>Matriculaclave</th>
                <td>{{ matricula.matriculaclave }}</td>
            </tr>#}
            <tr>
                <th>Matriculatipo</th>
                <td>{{ matricula.matriculatipo }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ matricula.matriculaobservacion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ matricula.matriculaestado }}</td>
            </tr>
            
        </tbody>
    </table>

    <ul class="noprint">
        <li ng-controller="PrintCtrl">
             <a data-ng-click="openModal('print_matricula_contrato',{'matricula':{{matricula.id}},'_format':'html'})" type="button" class="btn btn-app btn-primary "><i class="fa fa-print bigger-160"></i> Imprimir</a>
        </li>
        <li>
            <a class="btn btn-app btn-default " href="{{ path('matriculas') }}">Regresar a la lista</a>
        </li>
        <li>
            <a class="btn btn-app btn-warning " href="{{ path('matriculas', { 'page': matricula.id~'/edit' }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-app btn-danger " type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
<!--area imprimible test -->
    <div class="printable"/>
<!-- fin area imprimible test -->            
{% endblock %}
